[2015-04-28 02:27] seanshpark opened #1 "Makefile support ARM linux"
Hi,
I'm adding this issue as a todo item to support arm-linux and with maybe add other architecture-platform easier. And as there is no issue, I want to start with this not-urgent one.
* platforms that we can support: linux, nuttx, darwin, ...
* architectures: armv7, armv6, i686, x86_64, ...
* type: debug, release, ...
* mods: cp cp_minimal, mem_stats, ...
* boards (maybe for embedded): stm32f3, s

[2015-04-28 02:59] seanshpark opened #2 "native callback with object gc"
I'm adding this issue to discuss in open so may help others to understand and join (to the issues)

Codes can be efficient if some native function is called when JS Object is garbage collected so that some block of memory linked to that Object can be freed. Something like MakeWeak in V8.

API something like this;

[code]

[2015-04-28 07:50] ILyoan opened #3 "Implement ECMA262 Array builtin object."
JerryScript Engine support Array builtin object but very limited.
The relevant specification is [ECMA262 15.4](http://www.ecma-international.org/ecma-262/5.1/#sec-15.4)
We need to get it to be done.

Required method/properties:
- [x] Array(..)
- [x] new Array(..)
- [x] Array.prototype
- [x] Array.isArray(..)
- [x] Array.prototype.concat(..) #98
- [x] Array.prototype.every(..) #84
- [x] Array.proto

[2015-04-28 09:58] seanshpark opened #4 "disable API calls for 'object free callback'"
Object free callback needs to disable API calls while in execution.
Simple flag, in global, will do.

[2015-04-29 03:52] ILyoan opened #6 "Requirements from IoT.js"
This issue is for all works required from [IoT.js](https://github.com/Samsung/iotjs).

The list of requirements is in https://github.com/Samsung/iotjs/issues/3
- [x] arguments #102
- [x] Object.create #209
- [x] Object.keys #124
- [x] Function.prototype.apply #163
- [x] String.prototype.slice #138

Complete ECMA262 Array builtin object. https://github.com/Samsung/jerryscript/issues/3
- [x] Array.p

[2015-05-01 11:25] #4 closed, assigned to seanshpark

[2015-05-05 18:45] ruben-ayrapetyan opened #15 "Signed-off-by checker in precommit testing script"
Hello.

We could add check for correctness of Signed-off-by tag into tools/precommit.sh.

For example, we could check, that the tag is placed at last line of commit message and is composed of exactly the following three parts, splitted by space character: common prefix, name and e-mail of the commit's author.

[2015-05-06 01:09] seanshpark opened #16 "prerequisites needs fix for behind firewalls"
two changes are needed for behind firewalls

[code]

[2015-05-06 02:01] #2 closed, assigned to seanshpark

[2015-05-06 06:44] ILyoan opened #17 "Jerry API: free callback"
Current version of `jerry_api_set_object_free_callback()` takes two parameter
- pointer to object
- function pointer to callback.

The prototype of callback is like this:

[code]

I think it's confusing that the callback takes native pointer as its parameter, since, at least i thought, there are no link connecting the `native_p` to something in this set of API.
Actually we need to set the native p

[2015-05-06 11:10] ruben-ayrapetyan opened #19 "Make flags in prerequisites setup script"
Hello.

Currently, prerequisites.sh uses 'make -j' to build cppcheck and vera++.
This can be too resource consuming.

To give control about the make options, we can pass "-j" flag in make command line only if it is passed to make instance, calling the script (MAKEFLAGS environment variable, created by make, can be used for this).

[2015-05-07 07:53] chunseoklee opened #21 "Merge eval_dev branch to master"
'require' function in [iotjs](https://github.com/Samsung/iotjs) need eval feature which is not supported by current jerryscript/master branch. Thus, eval_dev should be merged into master.

[2015-05-08 07:12] LaszloLango opened #27 "Implement ECMA262 RegExp builtin object and RegExp engine"
Related ECMA2626 section: http://www.ecma-international.org/ecma-262/5.1/#sec-15.10.3

- [x] Regexp Builtin components
  - [x] Register the RegExp built-in object.
  - [x] RegExp(..)
    - [x] RegExp(pattern)
    - [x] RegExp(pattern, flag)
    - [x] RegExp(RegExp)
  - [x] new RegExp(..)
    - [x] RegExp(pattern)
    - [x] RegExp(pattern, flag)
    - [x] RegExp(RegExp)
  - [x] RegExp.prototype
  -

[2015-05-08 08:03] seanshpark opened #28 "disable assert implementation"
'assert' function itself is not included in ECMA spec but is included in JerryScript, opcodes-dumper.cpp
programs embedding JerryScript will implement 'assert', including IoT.js.
need some compile time option to disable internal 'assert' and maybe others like 'print'

[2015-05-08 13:34] #16 closed, assigned to nobody

[2015-05-11 11:19] kkristof opened #34 "Implement ECMA262 Object builtin functions"
Ecma 262 Objects reference http://www.ecma-international.org/ecma-262/5.1/#sec-15.2

Functions to implement:
- [x] Object(..)
- [x] new Object(..)
- [x] Object.create #209
- [x] Object.defineProperties #37
- [x] Object.defineProperty
- [x] Object.freeze #202
- [x] Object.getOwnPropertyDescriptor #81
- [x] Object.getOwnPropertyNames #124
- [x] Object.getPrototypeOf #151
- [x] Object.isExtensible #1

[2015-05-12 04:41] ILyoan opened #35 "Jerry API: throwing exception"
It seems like there's no api for supporting exception handling in Jerry API.

We need exception handling api that facilitates following use case:
- Creating [error object ](http://www.ecma-international.org/ecma-262/5.1/#sec-15.11)
- Throwing an error.

And below is probably less significant.
- Creating try-catch block. See [Exception API on v8](https://developers.google.com/v8/embed#exceptions) f

[2015-05-13 07:18] #17 closed, assigned to nobody

[2015-05-13 13:18] #21 closed, assigned to nobody

[2015-05-13 13:28] galpeter opened #43 "Parser infinite loop on open brace"
The js parser goes into an infinite loop if the input file contains this:

[code]

The engine loops in the preparse_scope (jerry-core/parser/js/parser.cpp) method.

[2015-05-13 13:46] sand1k opened #44 "Implement dynamic recordset"
Dynamic recordset is a storage based on a chunked list, required to reduce fragmentation in case of frequent allocations / deallocations of big data blocks.

Blocks #45, #46.

[2015-05-13 13:49] sand1k opened #45 "Implement literal storage"
- [x]  implement rcs_record_iterator_t (see rcs-recordset.h),
  extending test_recordset unit test to check the iterator;
- [x] create component (lit ?);
- [x] create record classes based on rcs_record_t for each literal type;
- [x] create class (lit_storage_t ?) based on rcs_recordset_t,
  implementing alloc / free interfaces for each record type;
- [x] add literal-type specific interfaces to rec

[2015-05-13 13:51] sand1k opened #46 "Implement byte-code storage"
- [ ] byte-code and scopes allocator, based on generic dynamic storage
- [ ] implement scope storage with hash table
- [ ] implement pointer-based jumps

Blocks: #48

[2015-05-13 13:59] sand1k opened #48 "Support eval"

[2015-05-13 14:02] sand1k opened #49 "Unicode support"
- [x] implement unicode handling in the string processing routines
- [x] unicode support in parser

[2015-05-13 14:03] sand1k opened #50 "Support escape sequences"

[2015-05-13 14:05] sand1k opened #51 "Implement for-in statement"
- [x] parse for-in and generate for-in opcode
- [x] for-in opcode handler

[2015-05-13 14:06] sand1k opened #52 "Support labelled statements"
- [x] generate break and continue opcodes
- [x] break and continue completion values
- [x] determine if break / continue target is in current scope

[2015-05-13 14:09] sand1k opened #53 "Enable Arguments object"

[2015-05-13 14:10] sand1k opened #54 "Add support of syntax error checking"
- [X] implement setjmp / longjmp
 - [x] add checks into parsing of expression
  - [x] 11.1.5
  - [x] 11.3.1
  - [x] 11.3.2
  - [x] 11.4.1
  - [x] 11.4.4
  - [x] 11.4.5
  - [x] 11.13.1
  - [x] 11.13.2
  - [x] 12.2.1
  - [x] 12.10.1
  - [x] 12.14.1
  - [x] 13.1

[2015-05-13 16:12] sand1k opened #55 "Enhance 'make log' info"
- [ ] Add test262 pass rate information
- [ ] Provide binary size information for each configuration
- [ ] Merge log information into tables:

|                    | peak parser consumption | byte-code size | peak runtime consumption (without bytecode) | peak overall consumption | rss |
|--------------------|-------------------------|----------------|---------------------------------------------|-

[2015-05-13 16:16] sand1k opened #56 "Automatically update benchmarks results on wiki"
- [ ] Create scripts for automatic uploading of 'make log' information onto wiki page with comparison to other engines.
- [ ] Create bot, running this scripts for each commit.

[2015-05-13 20:31] #15 closed, assigned to nobody

[2015-05-14 11:55] rtakacs opened #61 "Implement JSON object"
- [x] Register the JSON built-in object.
- [x] parse()
 - [x] implement a parser
 - [x] implement a lexer
 - [x] add support for reviver
- [x] stringify()
 - [x] simple values to JSON
 - [x] object values to JSON
 - [x] array values to JSON
 - [x] add support for replacer
 - [x] add support for spaces (formatting)

merge request: #168

[2015-05-14 18:02] egavrin opened #63 "Remove Severity mechanism from mem allocator"
Currently, severity mechanism isn't really used, so consider removing it.

This will eliminate checks like the following:
[code]

[2015-05-15 08:24] egavrin opened #66 "Build failed using gcc-4.9.2"
Build is failed on Ubuntu 15.04 with gcc-4.9.2:

[code]

[2015-05-15 09:05] LaszloLango opened #68 "Create JERRY_LOG macros"
Currently the only way to print debug information is using 'fprintf' with JERRY_NDEBUG. It would be helpful to do some logger macros to wrap NDEBUG and fprintf at least. The possibility of setting different debug levels can make this more useful.

Example:
JERRY_DPRINT("This is a first level debug message!", variables);
JERRY_DDPRINT("This is a second level debug message!", variables);
JERRY_DDDPR

[2015-05-15 10:27] #66 closed, assigned to egavrin

[2015-05-15 12:20] kkristof opened #70 "Fix FromPropertyDescriptor function"
In the function [ecma_op_from_property_descriptor](https://github.com/Samsung/jerryscript/blob/master/jerry-core/ecma/operations/ecma-conversion.cpp#L431) the forth section is unreachable.
FromPropertyDescriptor [8.10.4](http://www.ecma-international.org/ecma-262/5.1/#sec-8.10.4)

The function is needed by the Object.getOwnPropertyDescriptor builtin function [15.2.3.4](http://www.ecma-internationa

[2015-05-15 14:06] galpeter opened #71 "Improve compiler detection"
In some Linux systems the x86_64 compiler is not named `x86_64-linux-gnu-gcc`, but instead `x86_64-unknown-linux-gnu-gcc`. Related to this that it is also possible that there is no `x86_64-linux-gnu-strip` just the simple `strip` program.

[2015-05-15 16:25] #70 closed, assigned to nobody

[2015-05-19 07:20] ILyoan opened #80 "Implement ECMA262 String builtin object"
To track status of progress of String builtin.

See [ECMA262 String](http://www.ecma-international.org/ecma-262/5.1/#sec-15.5) for specification.

Required items

- [x] String()
- [x] new String()
- [x] String.prototype
- [x] String.fromCharCode
- [x] String.prototype.constructor
- [x] String.prototype.toString( )
- [x] String.prototype.valueOf( )
- [x] String.prototype.charAt() #320
- [x] String.

[2015-05-20 12:17] #35 closed, assigned to nobody

[2015-05-20 12:49] #68 closed, assigned to nobody

[2015-05-20 13:03] galpeter opened #82 "Complete ECMA262 Math builtin object"
Track the Math built in progress.
Related ECMA262 section: http://www.ecma-international.org/ecma-262/5.1/#sec-15.8
- [x] Math.E
- [x] Math.LN10
- [x] Math.LN2
- [x] Math.LOG2E
- [x] Math.LOG10E
- [x] Math.PI
- [x] Math.SQRT1_2
- [x] Math.SQRT2
- [x] Math.abs(..)
- [x] Math.acos(..)
- [x] Math.asin(..)
- [x] Math.atan(..)
- [x] Math.atan2(..)
- [x] Math.ceil(..)
- [x] Math.cos(..)
- [x] Math.exp(.

[2015-05-20 13:04] #82 closed, assigned to nobody

[2015-05-20 13:17] galpeter opened #83 "Implement ECMA262 Number builtin object"
Track the Number built in progress.
Related ECMA262 section: http://www.ecma-international.org/ecma-262/5.1/#sec-15.7

- [x] Number(..)
- [x] new Number(..)
- [x] Number.length
- [x] Number.MAX_VALUE
- [x] Number.MIN_VALUE
- [x] Number.NaN
- [x] Number.NEGATIVE_INFINITY
- [x] Number.POSITIVE_INFINITY
- [x] Number.prototype
- [x] Number.prototype.constructor
- [x] Number.prototype.toString(..) #306

[2015-05-21 10:39] seanshpark opened #87 "Math for embed devices"
NuttX doesn't provide libm and have link problem.
fabs, acos, asin, atan, atan2, ceil, cos, exp, floor, log, pow, sin, sqrt and tan are undefined.
I'm posting this issue for discussion.

[2015-05-21 10:46] egavrin opened #88 "Add configuration option for disabling selected built-in objects."
To improve the configurability of the engine it's needed to provide build time flags for disabling selected built-ins.

Compact profile has possibility for this:
[code]

//cc @seanshpark

[2015-05-22 11:40] galpeter opened #92 "Complete ECMA262 Global object"
Related ECMA262 section: http://www.ecma-international.org/ecma-262/5.1/#sec-15.1

Value properties of the Global object:
- [x] NaN
- [x] Infinity
- [x] undefined

Function properties of the Global object:
- [x] eval(..) #174
- [x] parseInt(..) #167
- [x] parseFloat(..) #190
- [x] isNaN(..)
- [x] isFinite(..)
- [x] decodeURI(..) #177
- [x] decodeURIComponent(..) #177
- [x] encodeURI(..) #177
- [x]

[2015-05-22 11:53] galpeter opened #93 "Complete ECMA262 Function object"
Related ECMA262 section: http://www.ecma-international.org/ecma-262/5.1/#sec-15.3

- [x] Function(..)
- [x] new Function(..) #174
- [x] Function.prototype
- [x] Function.length
- [x] Function.prototype.constuctor
- [x] Function.prototype.toString() #165
- [x] Function.prototype.apply(..) #163
- [x] Function.prototype.call(..)
- [x] Function.prototype.bind(..) #321
- [x] .length
- [x] .prototype

[2015-05-22 12:02] galpeter opened #94 "Implement ECMA262 Date builtin object"
Related ECMA262 section: http://www.ecma-international.org/ecma-262/5.1/#sec-15.9

- [x] Date(..) #322
- [x] new Date(..) #322
- [x] Date.prototype
- [x] Date.parse(..) #297
- [x] Date.UTC(..) #305
- [x] Date.now() #305
- [x] Date.prototype.constructor
- [x] Date.prototype.toString() #336
- [x] Date.prototype.toDateString() #360
- [x] Date.prototype.toTimeString() #360
- [x] Date.prototype.toLocal

[2015-05-26 15:38] galpeter opened #101 "Incorrect mcu script transformation"
By using the `tools/generator.sh` we transform a js file to a `JERRY_MCU_SCRIPT` define. However there is a problem, take the following input mcu.js file:

[code]

Executing the `tools/generator.sh mcu.js output` command will result the following content in the `output` file:

[code]

which clearly can't be used as a start js script.

[2015-05-27 01:16] #87 closed, assigned to nobody

[2015-05-27 04:38] seanshpark opened #103 "Question about mem_stats"
Jerry build with -mem_stats shows heap usage information like below.

[code]

Question is, what does the second line numbers mean?
Current iotjs for nuttx has settings of heap size 60KB and at this point gets "out of memory error" and program terminates.

[2015-05-27 17:30] egavrin opened #108 "Flag to increase verbosity for `make precommit` and `make prerequisites`"
Current scripts silently perform its actions, but Jenkins needs on-screen logs to store them.

[2015-05-28 08:28] seanshpark opened #109 "API for expanding Magic string"
Jerry has magic string for strings that are commonly used so to save the heap, I think.
As for embedding Jerry, it would be useful to register magic strings with an API to save heap space,
for example IoT.js built-in scripts.

[2015-05-28 08:45] dbatyai opened #110 "Style fix for Array builtin"
The ordering should be fixed for Array.prototype functions. Additionally, small style fixes, like the issue from #90 should be addressed here as well.

[2015-05-28 10:29] seanshpark opened #111 "Byte code snap-shot to save runtime heap"
IoT.js scripts are growing as development goes on and at the same time, it uses more Jerry heap space.
As of today, IoT.js built-in scripts consume about 64KB memory still more to go. If there is a way to save the heap memory it can give more to IoT.js application.
The idea is like V8's snap-shot;

1) run Jerry with IoT.js built-in scripts
2) make Jerry drop byte codes and Literals in to binary
3)

[2015-05-28 13:26] renatahodovan opened #112 "Assertion 'property_p != NULL' failed in ecma_get_internal_property"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]
###### CC: @ruben-ayrapetyan

[2015-05-28 13:50] renatahodovan opened #113 "Assertion 'ecma_string_get_length (string_p) > ECMA_STRING_MAGIC_STRING_LENGTH_LIMIT || !ecma_is_string_magic_longpath failed in ecma_is_string_magic"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-28 14:23] renatahodovan opened #114 "Assertion 'simple_value == ECMA_SIMPLE_VALUE_UNDEFINED || simple_value == ECMA_SIMPLE_VALUE_NULL || simple_value == ECMA_SIMPLE_VALUE_FALSE || simple_value == ECMA_SIMPLE_VALUE_TRUE' failed in ecma_make_simple_completion_value"
###### Jerry version:
    Checked revision: aaeec7f
    Build: debug.linux
###### OS:
    Ubuntu 14.04, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-05-28 14:28] renatahodovan opened #115 "Assertion 'prop_p->type == ECMA_PROPERTY_NAMEDACCESSOR' failed in ecma_is_property_configurable"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-28 14:31] renatahodovan opened #116 "Assertion 'id < bytecode_data.literals_count' failed in serializer_get_literal_by_id"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-28 14:34] renatahodovan opened #117 "Assertion '!ecma_is_value_empty (reg_value)' failed in get_variable_value"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-28 14:59] renatahodovan opened #118 "Assertion 'new_bit_field_value < (1ull << width)' failed in jrt_set_bit_field_value"
###### Jerry version:
    Checked revision: aaeec7f
    Build: debug.linux
###### OS:
    Ubuntu 14.04, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-05-28 15:00] ruben-ayrapetyan opened #119 "Replacement of nullptr with NULL"
Currently, there are four places, where `nullptr` is used instead of `NULL`.
It is a style issue, because current practice is using `NULL`.

[2015-05-28 15:02] renatahodovan opened #120 "Assertion 'offset != 0 && (uint32_t) int_data->pos >= offset' failed in opfunc_jmp_up"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-28 15:05] renatahodovan opened #121 "Assertion 'mem_pools == NULL' failed in mem_pools_finalize"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-28 15:13] renatahodovan opened #122 "Assertion 'ret_value == ecma_make_empty_completion_value ()' failed in opfunc_native_call"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-28 15:22] renatahodovan opened #123 "Assertion 'om->lit_id[i] != NOT_A_LITERAL' failed in insert_uids_to_lit_id_map"
###### Jerry version:
    Checked revision: aaeec7f
    Build: debug.linux
###### OS:
    Ubuntu 14.04, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-05-29 08:18] #53 closed, assigned to nobody

[2015-05-29 08:38] renatahodovan opened #128 "Assertion '(!ecma_is_completion_value_empty (finally_completion) && int_data->pos <= finally_end_oc) || (ecma_is_completion_value_empty (finally_completion) && int_data->pos == finally_end_oc)' failed in opfunc_try_block"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-29 08:43] renatahodovan opened #129 "Assertion 'ecma_is_completion_value_throw (completion)' failed in vm_run_global"
###### Jerry version:
    Checked revision: 77df022
    Build: debug.linux
###### OS:
    Ubuntu 14.04, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-05-29 08:57] renatahodovan opened #130 "Assertion '!ecma_number_is_nan (num)' failed in ecma_number_is_zero"
###### Jerry version:
    Checked revision: 77df022
    Build: debug.linux
###### OS:
    Ubuntu 14.04, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-05-29 09:09] renatahodovan opened #131 "Assertion 'ecma_get_value_type_field (value) == ECMA_TYPE_OBJECT' failed in ecma_get_object_from_value"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-05-29 09:36] #113 closed, assigned to nobody

[2015-05-29 11:07] renatahodovan opened #132 "Assertion 'is_current_accessor_descriptor' failed in ecma_op_general_object_define_own_property"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]
###### Additional comment:

This issue might be similar or related to #115 since omitting any lines - except the third one - results in that assertion failure.

[2015-05-29 12:31] dbatyai opened #133 "Array constructor using ecma_lenght_t for length argument"
Currently, the array constructor takes ecma_length_t, which is an uint16, as it's length argument, even though the length of an array can be an uint32. The two should be compatible, so we should either change ecma_length_t to be uint32, or change the array constructor to take uint32 for length.

[2015-06-01 12:05] #112 closed, assigned to nobody

[2015-06-01 12:41] ruben-ayrapetyan opened #139 "Fix interfaces for processing values and completion values"
Hello.

Currently, interfaces like `ecma_get_string_from_completion_value` and `ecma_get_string_from_value` have the same prototypes, and so, can be confused.

We need to update their prototypes to check for the situation at compile-time.

[2015-06-02 00:54] #103 closed, assigned to nobody

[2015-06-02 17:43] ruben-ayrapetyan opened #145 "Move of built-in implementation helpers to jerry-core/ecma/builtin-objects"
There are some built-in implementation helpers in `jerry-core/ecma/operations/ecma-array-prototype.cpp`.

The helpers should be moved to `jerry-core/ecma/builtin-objects`.

If they are related to different built-ins, then, maybe, to ecma-builtin-helpers.cpp,
otherwise - to the module with corresponding built-in implementation as `static` function.

[2015-06-04 05:26] seanshpark opened #150 "Assertion 'int_ptr % MEM_ALIGNMENT == 0' failed"
Cannot reproduce this with Jerry test scripts but error show in IoT.js

How to reproduce:
1) System: Ubuntu 14.04, 32 bit, debug build. (64bit is ok)
2) Build iot.js and run test (as of today)

[code]

3) result

[code]

4) when I print the int_ptr value it's value was 81459d4

[2015-06-04 13:34] renatahodovan opened #152 "The properties of the builtins are only enumerable after their first usage"
###### Jerry version:
    Checked revision: 9d423d9
    Build: debug.linux
###### OS:
    Ubuntu 14.04, x86_64
###### Description:

Asking for the properties of any builtin objects results in a list, that only contains the previously used property names.
E.g:
[code]
results an empty list. However:

[code]
 gives a list with only the "getOwnPropertyNames" property, since it was used already.

[2015-06-04 17:10] #128 closed, assigned to nobody

[2015-06-05 08:30] galpeter opened #154 "No reference error when the variable is not an argument"
Consider the following code:
[code]
Will *not print* out the expected `ReferenceError` string. But if we change the code in a way that the `xxxx` variable is part of an argument list then the exception is correctly raised.

So using the following code:
[code]
Will *print* out the expected `ReferenceError` string.

###### Jerry version:
    Checked revision: ac87616f0
    Build: debug.linux

[2015-06-05 11:32] LaszloLango opened #156 "PARSE_ERROR in for loops"
Jerry throws a PARSE_ERROR, if you try to invoke a function in the increment part of the for loop. This should be fixed to be able to run test262 tests.
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]

[2015-06-08 13:04] LaszloLango opened #158 "Run the official ECMAScript (ECMA-262) conformance suite."
We should be test engine on the original testsuite without any modification. Issues that have to be solved for this:

 - [x] RegExp engine #27
 - [x] Unicode support #49
 - [x] Able to parse JS files from 70 Kbyte to 150 Kbyte
 - [x] Implement for-in loop #51
 - [x] Fix the for loop bug with function calls in the iteration part #156

These are only the currently known issues, there could be more.

[2015-06-08 13:15] #52 closed, assigned to nobody

[2015-06-08 14:25] #121 closed, assigned to nobody

[2015-06-08 15:32] #3 closed, assigned to nobody

[2015-06-08 23:25] #109 closed, assigned to seanshpark

[2015-06-09 10:54] ruben-ayrapetyan opened #160 "Incorrect ToInt32 semantics"
Hello.

The following unit test fails on armv7-hf linux build and on x86_64 in unittests mode build (unit tests are built with O3):

[code]

Seems that `ecma_number_to_int32` is implemented incorrectly.

[2015-06-09 11:52] bzsolt opened #161 "Precommit fails after expanding magic string API"
After [723924f]](https://github.com/seanshpark/jerryscript/commit/723924f36fd625a62ff7e806d1c4fdfd093147fe) the precommit fails with the following message:

[code]

Here is the mentoined line: [L452](https://github.com/seanshpark/jerryscript/commit/723924f36fd625a62ff7e806d1c4fdfd093147fe#diff-6a32b58e941dcd977e545a8b13e74d9eR452)
Refer: #136

[2015-06-09 12:31] #161 closed, assigned to nobody

[2015-06-09 15:14] renatahodovan opened #164 "Assertion '!label_set_p->is_nested_jumpable_border' failed in jsp_label_raise_nested_jumpable_border"
###### Jerry version:
    Checked revision: d988da8
    Build: debug.linux
###### OS:
    Ubuntu 14.04, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-10 14:50] #115 closed, assigned to nobody

[2015-06-10 14:50] #132 closed, assigned to nobody

[2015-06-10 16:21] #131 closed, assigned to nobody

[2015-06-11 09:49] zherczeg opened #173 "C or C++"
We discussed this question last time, but there was no clear decision. Today this question is raised again, since the PI default compiler is only GCC 4.7. We might also need to support exotic architectures, where we stuck with proprietary compilers, and they might not even support C++.

I think postponing this question is not wise, since we might reach a point, where there is no turning back. It w

[2015-06-11 16:35] ruben-ayrapetyan opened #176 "Missing comments to functions / function's arguments"
Hello.

The issue is raised to document all known places where there are missing comments to functions / function's arguments (that is considered a style issue, currently).

The documented style issues are supposed to be fixed:
  - step by step, with separate pull requests for each component / module, containing mentioned issues;
  - in context of reimplementation / significant rework of a functio

[2015-06-12 07:28] #119 closed, assigned to ruben-ayrapetyan

[2015-06-12 08:18] kkristof opened #178 "Fix ecma_get_property_descriptor_from_property function"
I've found some memory related issue with this function which can cause assert in some cases.

[2015-06-12 15:13] #178 closed, assigned to kkristof

[2015-06-13 16:04] #48 closed, assigned to nobody

[2015-06-14 23:49] seanshpark opened #180 "Faster debug version"
As  new eval has landed, one small problem is that debug version execution has became very slow.
Can there be some level of checking so that it might be somewhat faster for debugging?

[2015-06-15 05:24] #150 closed, assigned to nobody

[2015-06-15 05:53] ILyoan opened #181 "Jerry API: propagating unhandled exception."
Was there an unhandled exception rasied, `jerry_api_invoke_function()` returns `false` with `undefined` for `retval_p`. But user of this API might want to know what error was occurred during execution (actually IoT.js do want to know).
What about exposing the error with `retval_p` parameter in case of exception?

[2015-06-15 06:30] seanshpark opened #182 "try-catch throw in eval function"
I'm not good at the spec. but seems that try-catch is not working correct.
test code added to test-api.cpp

[code]

expect `is_ok` to be true.

[2015-06-15 07:40] #182 closed, assigned to nobody

[2015-06-15 07:46] seanshpark opened #183 "parser with unmatched brace doesn't return"
while testing eval() with throw try-catch (#182) jerry_api_eval() doesn't return with unmatched brace. not sure this is spec or problem. test code:

[code]

same with `const char *eval_code_err_p = "{";`

[2015-06-15 09:27] renatahodovan opened #185 "Assertion 'om->lit_id[i].packed_value != MEM_CP_NULL' failed in insert_uids_to_lit_id_map"
###### Jerry version:
    Checked revision: 5d5e75f
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-15 09:53] renatahodovan opened #186 "Assertion '!operand_is_empty (this_arg)' failed in parse_argument_list"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-06-16 07:57] renatahodovan opened #195 "Assertion 'ecma_is_completion_value_empty (completion)' failed in ecma_op_function_declaration"
###### Jerry version:
    Checked revision: 8a9633d
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-16 23:54] seanshpark opened #197 "MIPS core support for ARTIK 1"
We need to prepare ARTIK 1, https://www.artik.io/, which uses two MIPS core.
* Nucleus OS
* C/C++
* ...

I'll add more informations as it arrives.

[2015-06-17 08:51] LaszloLango opened #198 "Missing end of groups in documentation comments"
There are several places in `jerry-core/ecma` directory where the end of documentation groups are missing. For example:
 * ecma-boolean-object.cpp
 * ecma-number-object.cpp

### Task
We should check all files for this and fix this style issue in one commit.

### Solution
Insert to the end of files:
[code]

[2015-06-17 14:58] #44 closed, assigned to nobody

[2015-06-17 15:22] egavrin opened #201 "New labels to reflect the state of PR"
We may introduce the following labels to reflect the state of PR:

- `waiting-for-review`
- `waiting-to-be-fixed`
- `make-push` or `OK-to-commit`
- etc?

I think it can be useful, both for developers and reviewers.

[2015-06-17 16:32] #181 closed, assigned to nobody

[2015-06-17 22:57] #180 closed, assigned to nobody

[2015-06-18 04:01] seanshpark opened #203 "Assert in serializer_get_opcode"
When dump op codes with iotjs, I get below assert.

[code]

how to reproduce
1) build iotjs

[code]

branch is c87ab8db64fc0f40a25b941510b3a119c831932a
2) run test

[code]

where (core) depends on your build machine.
`oc` is 66 and `bytecode_data.opcodes_count` is 37 when assert failed

[2015-06-18 10:37] lemmaa opened #204 "WebAssembly and JerryScript"
Today, I read an article about WebAssembly.
[Google, Microsoft, Mozilla And Others Team Up To Launch WebAssembly, A New Binary Format For The Web](http://goo.gl/RlVCbi)

What should we do for JerryScript with wasm?
Is it valuable for current target segment of JerryScript? or need to include to future roadmap?
Let’s discuss about it.

**Other references**
* [https://github.com/WebAssembly/design/bl

[2015-06-18 10:45] lemmaa opened #205 "Supporting ECMAScript 2015"
The General Assembly of Ecma International has announced the approval of ECMA-262 6th edition.
- http://www.infoq.com/news/2015/06/ecmascript-2015-es6
- http://www.ecma-international.org/publications/standards/Ecma-262.htm

Should we need to change our target to support ES6 immediately? or keep going to finish current target first?
Please share your opinion.
Thanks!

[2015-06-18 13:39] kkristof opened #208 "Assert in Object.getPrototypeOf function"
Hi, I'm currently working on the Object.create built-in function and I've found that the following code cause below causes assertion.
The test:

[code]

The assertion:

[code]

Backtrace:

[code]

[2015-06-18 16:23] egavrin opened #210 "Remove jerry-extension.h and jerry-extension.inc.h"
Hi folks,

I have intention to remove `jerry-extension.h` and `jerry-extension.inc.h` from the project. This API is obsolete and can be fully replaced with existing `api.h`, which is more preferable and less ugly.
Does anyone has objections?

//CC @seanshpark is it used in IoTjs?

[2015-06-19 08:33] renatahodovan opened #212 "Assertion '!(is_direct_eval && !ecma_is_value_undefined (this_arg))' failed in ecma_builtin_global_object_eval"
###### Jerry version:

[code]
###### OS:

[code]
###### Test case:

[code]
###### Backtrace:

[code]

[2015-06-19 08:52] szledan opened #213 "Missing standard time functions in jerry-libc"
For Date object implementations we need few time functions and variables, example: `localtime_r`, `gmtime_r`, `daylight` for [1] functions.

These are system dependent features.
Could we somehow use the standard `<time.h>`?

[1] http://www.ecma-international.org/ecma-262/5.1/#sec-15.9.1.7

[2015-06-19 12:37] #101 closed, assigned to nobody

[2015-06-21 11:31] egavrin opened #221 "Cross compilation issue: strip detection"
Reported by @galpeter in comments to #71

[2015-06-21 11:32] #71 closed, assigned to nobody

[2015-06-23 09:30] #122 closed, assigned to nobody

[2015-06-23 10:09] #116 closed, assigned to nobody

[2015-06-23 10:16] #212 closed, assigned to nobody

[2015-06-23 10:36] #117 closed, assigned to nobody

[2015-06-23 11:06] #203 closed, assigned to nobody

[2015-06-23 11:16] renatahodovan opened #228 "Assertion '!ecma_is_value_empty (reg_value)' failed in get_variable_value"
###### Jerry version:
    Checked revision: 216dc25
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-23 11:30] #210 closed, assigned to nobody

[2015-06-23 13:16] #160 closed, assigned to ruben-ayrapetyan

[2015-06-24 02:48] #6 closed, assigned to nobody

[2015-06-24 07:05] seanshpark opened #231 "Build for nuttx problem, undefined reference to 'setjmp' and 'longjmp'"
With latest JerryScript, cannot build for nuttx cause of
[code]

How to reproduce: with iotjs build for nuttx. Get latest iotjs source.
[code]
replace `--nuttx-home` value with your nuttx folder.
Please refer https://github.com/Samsung/iotjs/wiki/Build-for-NuttX page.

[2015-06-24 09:24] szledan opened #233 "Generate builtin getters for Date object"
The Date Prototype Object  (15.9.5) has some getters (around 26), that are very similar. For now, I implemented most of them separately in [1]. Maybe we could generate them. The most different parts are in a try-catch block.
Could you give some ideas how I should generate these getter functions.

Some typically differences:
* the helper functions return value is: int or ecma_number_t
* Every gette

[2015-06-24 12:35] ruben-ayrapetyan opened #234 "Incorrect generation of function expressions, corresponding to getters / setters (in object literals)"
Hello.

Revision:
c603d10360c51952fa8b5b80924ea58bd249681a

Test case:

[code]

Output:
`get: function, set: function`

Expected output:
`get: undefined, set: undefined`

[2015-06-24 21:16] #234 closed, assigned to ruben-ayrapetyan

[2015-06-25 09:18] dbatyai opened #239 "Running official test262 test suite with Jerry"
We should prepare for running the official test262 test suite with Jerry, to check if the already implemented features are correct.

[2015-06-25 09:38] ILyoan opened #240 "Weird behavior that comment matters what's happening."
I encountered a weird situation that I could not figure out what's going on that running a program ends with unexpected result runs good when added comments.

You may reproduce it by:
1. checkout iotjs/fs_readfile
2. build
   - `$ ./tools/build.py`
3. goto test directory
   - `$ cd test/run_pass`
4. run the program
   - `$ ../../build/x86_64-linux/debug/iotjs/iotjs test_net.js`

If you see this:

[2015-06-25 11:21] #34 closed, assigned to nobody

[2015-06-25 13:57] #43 closed, assigned to nobody

[2015-06-25 13:57] #183 closed, assigned to nobody

[2015-06-26 06:39] seanshpark opened #242 "No memory information with JERRY_FLAG_MEM_STATS"
There used to be heap usage report when JERRY_FLAG_MEM_STATS was given.
Current code seems does not show them. Is it accidentally removed or intended?

[2015-06-26 11:28] #45 closed, assigned to sand1k

[2015-06-26 11:38] #208 closed, assigned to nobody

[2015-06-26 12:29] ruben-ayrapetyan opened #243 "Add support of testing 'infinite loop'-like cases"
Hello.

Seems that current testing infrastructure provides no way to test the following example in run-time (not parser-only) mode:
`for(;;) {}`

It would be great to develop and add the support.

[2015-06-26 12:30] #120 closed, assigned to nobody

[2015-06-26 12:31] #156 closed, assigned to nobody

[2015-06-26 15:57] renatahodovan opened #245 "Assertion '!bc_ctx_p->current_p && !bc_ctx_p->block_end_p && !bc_ctx_p->block_start_p' failed in realloc_regexp_bytecode_block"
###### Jerry version:
    Checked revision: e027b4d
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-26 17:42] #51 closed, assigned to nobody

[2015-06-29 05:21] #242 closed, assigned to nobody

[2015-06-29 05:24] #240 closed, assigned to nobody

[2015-06-29 08:22] renatahodovan opened #255 "Assertion 'mem_pools == NULL' failed in mem_pools_finalize"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 13:46] renatahodovan opened #256 "Assertion 'ret_value == ecma_make_empty_completion_value ()' failed in parse_alternative"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 13:50] renatahodovan opened #257 "Unreachable path hit in re_parse_next_token"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 15:03] #186 closed, assigned to nobody

[2015-06-29 16:48] renatahodovan opened #260 "Assertion 'string_p->refs != 0' failed in ecma_deref_ecma_string"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 17:01] renatahodovan opened #261 "Assertion 'ecma_gc_get_object_refs (object_p) > 0' failed in ecma_deref_object"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 17:09] renatahodovan opened #262 "Assertion 'compressed_pointer != MEM_CP_NULL' failed in mem_decompress_pointer"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 17:53] renatahodovan opened #263 "Assertion 'pool_p->free_chunks_number != 0' failed in mem_pool_alloc_chunk"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 18:03] renatahodovan opened #264 "Assertion 'string_desc_p->refs > 0' failed in ecma_copy_or_ref_ecma_string"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

###### Note:
The test case is quite similar to #263 so the reason might be the same.

[2015-06-29 18:11] renatahodovan opened #265 "Assertion 'string1_p->hash == string2_p->hash' failed in ecma_compare_ecma_strings_equal_hashes"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 18:21] renatahodovan opened #266 "Assertion 'property_p != NULL' failed in ecma_get_internal_property"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-29 19:08] renatahodovan opened #267 "Assertion '!ecma_gc_is_object_visited (obj_iter_p)' failed in ecma_gc_run"
###### Jerry version:
    Checked revision: 06dffde
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-06-30 10:03] renatahodovan opened #274 "Assertion 'str_buf_iter_p <= str_buf_p + source_str_size' failed in convert_string_to_token_transform_escape_seq"
###### Jerry version:
    Checked revision: 2aa0485
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]
Hex: 27 EF BF BD 27

###### Backtrace:
[code]

[2015-06-30 10:30] egavrin commented on #260
Fixed 2aa04859ef04d08654f6e8839a61106c84b0c6cb.

[2015-06-30 10:30] #260 closed

[2015-06-30 10:30] egavrin commented on #261
Fixed 2aa04859ef04d08654f6e8839a61106c84b0c6cb.

[2015-06-30 10:30] #261 closed

[2015-06-30 10:30] egavrin commented on #262
Fixed 2aa04859ef04d08654f6e8839a61106c84b0c6cb.

[2015-06-30 10:30] #262 closed

[2015-06-30 10:30] egavrin commented on #263
Fixed 2aa04859ef04d08654f6e8839a61106c84b0c6cb.

[2015-06-30 10:30] #263 closed

[2015-06-30 10:30] egavrin commented on #264
Fixed 2aa04859ef04d08654f6e8839a61106c84b0c6cb.

[2015-06-30 10:30] #264 closed

[2015-06-30 10:30] egavrin commented on #266
Fixed 2aa04859ef04d08654f6e8839a61106c84b0c6cb.

[2015-06-30 10:30] #266 closed

[2015-06-30 10:30] egavrin commented on #265
Fixed 2aa04859ef04d08654f6e8839a61106c84b0c6cb.

[2015-06-30 10:30] #265 closed

[2015-06-30 10:30] egavrin commented on #267
Fixed 2aa04859ef04d08654f6e8839a61106c84b0c6cb.

[2015-06-30 10:30] #267 closed

[2015-06-30 11:32] egavrin commented on #164
Fixed 7b90d54490f53eb501644b6c76ca28549411c88f.

[2015-06-30 11:32] #164 closed

[2015-06-30 11:35] renatahodovan opened #276 "Assertion '(!ecma_is_completion_value_empty (try_completion) && int_data->pos <= try_end_oc) || (ecma_is_completion_value_empty (try_completion) && int_data->pos == try_end_oc)' failed in opfunc_try_block"
###### Jerry version:
    Checked revision: 2aa0485
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

###### Notes

Removing the surrounding try block we get another assertion failure:

[code]

[2015-06-30 12:34] renatahodovan opened #278 "Assertion 'code_p != NULL' failed in ecma_op_eval_chars_buffer"
###### Jerry version:
    Checked revision: 2aa0485
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-06-30 13:09] renatahodovan opened #279 "Assertion 'bytes_copied >= 0' failed in ecma_builtin_global_object_parse_int"
###### Jerry version:
    Checked revision: 2aa0485
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-06-30 13:33] egavrin commented on #28
Fixed.

[2015-06-30 13:35] egavrin commented on #1
Cross compilation support added 444bd32d50a059e050442aa885c9c9eda0d227cc

[2015-06-30 13:36] egavrin commented on #50
Closed. Should be handled within #49

[2015-06-30 13:36] #50 closed

[2015-06-30 13:37] egavrin commented on #54
@sand1k please recheck this issue after unicode implementation

[2015-06-30 16:45] renatahodovan opened #280 "Assertion 'lit->get_type () == LIT_STR_T' failed in ecma_init_ecma_string_from_lit_cp"
###### Jerry version:
    Checked revision: ec02ace
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-06-30 16:59] renatahodovan opened #281 "Assertion 'locus < buffer_size' failed in lexer_seek"
###### Jerry version:
    Checked revision: ec02ace
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-06-30 17:18] renatahodovan opened #282 "Assertion 'token_is (TOK_EOF)' failed in parser_parse_program"
###### Jerry version:
    Checked revision: ec02ace
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-06-30 17:29] renatahodovan opened #284 "Unreachable control path at lexer_token_type_to_string"
###### Jerry version:
    Checked revision: ec02ace
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-06-30 20:27] ruben-ayrapetyan commented on #231
@seanshpark, thank you for clarification of compiler options.

Could you, please, check size of `jmp_buf` buffer, used for storage of registers?

If `jmp_buf` size is enough for all registers, maybe, issue is not directly related to setjmp / longjmp. Could you, please, describe how to reproduce the failure? I'll try to figure out what is the cause.

In pre-commit testing archive libraries are buil

[2015-07-01 02:34] seanshpark commented on #28
Thank you!

[2015-07-01 02:34] #28 closed

[2015-07-01 05:34] seanshpark commented on #231
@ruben-ayrapetyan , I'm not sure how to check jmp_buf size. if I search the code, I get
[code]

How to reproduce;
* get iotjs gpio development branch from my repo.
[code]
* get latest nuttx patch (I've uploaded it today), as you know it's described in https://github.com/Samsung/iotjs/wiki/Build-for-NuttX
* please build debug version. release won't show any message
* test sample application is now

[2015-07-01 06:00] seanshpark commented on #1
Thank you!
I've checked with arm-linux-eabi-gcc version 4.7 build with
[code]
with 71bac03d5133043a6bfd83c044333b897dc1ab95 (as of 1 July) and got this problem;
[code]

[2015-07-01 07:33] renatahodovan opened #285 "Assertion 'builtin_id == ECMA_BUILTIN_ID_TYPE_ERROR_THROWER' failed in ecma_object_get_class_name"
###### Jerry version:
    Checked revision: 505bead
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-01 08:41] renatahodovan opened #286 "Assertion 'jmp_op_meta.op.op_idx == OPCODE (is_true_jmp_down)' failed in rewrite_case_clause"
###### Jerry version:
    Checked revision: 505bead
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

###### Note:
Removing the case branch from the test we get another assertion failure:
[code]
###### Backtrace:
[code]

[2015-07-01 10:10] seanshpark commented on #231
one more thing, file path for set_jmp is
[code]

[2015-07-01 10:19] seanshpark commented on #231
@ruben-ayrapetyan ,
I'm don't know how to measure `jmp_buf. what I see from the source is
[code]

How to reproduce;
1) get latest iot.js
2) build for nuttx, follow https://github.com/Samsung/iotjs/wiki/Build-for-NuttX in debug version
3) edit nuttx/configs/stm32f4discovery/src/stm32_jerry-hf.S file so to enable `vstm` and `vldm`
4) build nuttx, flast to stm board
5) run very simple code, such as
[

[2015-07-01 11:59] ruben-ayrapetyan commented on #231
@seanshpark,
size of the `typedef uint64_t jmp_buf[12];` buffer is 96 bytes that is not enough, because, actually, there are 10 * 4 + 16 * 4 = 104 bytes stored. Maybe, it is the cause of the issue.

[2015-07-01 12:05] egavrin opened #287 "Improvement of ecma/operations/* logic."
Let's continue the discussion from #273 here.

[2015-07-01 16:28] galpeter commented on #185
For me there is no assert now, just a TypeError. @renatahodovan could you verify this?

[2015-07-01 16:32] renatahodovan commented on #185
@galpeter yeah, it works now. Can be closed.

[2015-07-01 16:34] #185 closed

[2015-07-01 17:27] egavrin commented on #1
@seanshpark I'll check. Thank you!

[2015-07-01 17:55] egavrin commented on #1
@seanshpark please check #291

[2015-07-01 23:41] seanshpark commented on #1
@egavrin thank you, I'll wait #291 to land.

[2015-07-02 00:29] seanshpark commented on #231
@ruben-ayrapetyan , I've changed it to `typedef uint64_t jmp_buf[14];` and still same error.
but it was the sequence of push and pop. below code works.
[code]
the sequence in jerry-libc is opposite. have you checked with target board?
I'll make a small PR for [12] to [14].

[2015-07-02 07:12] egavrin commented on #1
pushed as 56e7ead9f9e4e5112bd38bffdbac093fe274992a

[2015-07-02 07:23] seanshpark commented on #1
Just for information, I'm on https://github.com/Samsung/iotjs/issues/117

[2015-07-02 07:23] #1 closed

[2015-07-02 07:25] seanshpark commented on #1
Thank you!

[2015-07-02 08:05] renatahodovan opened #295 "Assertion 'token_start == NULL' failed in lexer_next_token_private"
###### Jerry version:
    Checked revision: 017aa6b
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-02 09:21] seanshpark opened #296 "Cross compile for arm-linux fails for hard-float"
Fails to run when build for arm-linux hard float

cross compile for arm linux with hard-float
[code]
copy `build/bin/debug.linux/jerry` to raspberry-pi 2 and run with any script, such as `print("hello");`

result:
[code]

Related issue: #1

[2015-07-02 10:07] ruben-ayrapetyan commented on #231
but it was the sequence of push and pop. below code works.

@seanshpark, the `jmp_buf` should be defined in `setjmp.h` in `nuttx/nuttx/include` folder.

[2015-07-02 10:09] ruben-ayrapetyan commented on #231
Seems that code below writes {s16 - s31} and then overwrites them with {r4, r5, r6, r7}.
So, because of the changes, maybe it doesn't overflow `jmp_buf`, but maybe context wouldn't be restored successfully with the code:

[code]

[2015-07-02 10:12] ruben-ayrapetyan commented on #231
A test that leads to call of `longjmp` is a test that raises `SyntaxError`.

For example:
[code]

[2015-07-02 10:30] seanshpark commented on #231
@ruben-ayrapetyan
I fixed some mistake and the last code is
[code]
can you please fix the code so that it works ?

[2015-07-02 12:01] ruben-ayrapetyan commented on #231
@seanshpark, I would gladly do this, but before this I should finish some activities. I'll do this as soon as possible.

[2015-07-02 12:03] ruben-ayrapetyan commented on #231
@seanshpark, I think that code from https://github.com/Samsung/jerryscript/issues/231#issuecomment-116652062 should work if buffer size is enough.

[2015-07-02 12:08] seanshpark commented on #231
@ruben-ayrapetyan , thank you very much. I'll try with adding setjmp.h in nuttx include with the code #231 tomorrow morning.

[2015-07-02 15:01] zherczeg commented on #287
Normally, if you construct properties in other engines, they reported in creation order.

Firefox example:
var a = {}; a.x = 1; a.y = 2; a.z = 3; for (i in a) console.log(i);
"x"
"y"
"z"

I had problems with this when I was working on JSON (it has a strict visiting order). I manually reverse the list now. However, wouldn't it be better to simply follow other engines?

Basically we would need two p

[2015-07-02 15:51] ruben-ayrapetyan commented on #287
@zherczeg, thank you for the point.

'Last' pointer is not stored to reduce memory usage. However, if it leads to issues, maybe this should be revised.

Could you, please, provide an example with reference to corresponding specification paragraph for the case where order of properties is important?

[2015-07-02 16:30] egavrin commented on #287
@ruben-ayrapetyan it's not covered by spec.

@zherczeg I'd argue about `reported in creation order.`. As far as now, ES5.1 doesn't covers this behaviour - its implementation defined. But following other engines - strong point.

Input script:
[code]
Output Chrome:
[code]
Output Firefox:
[code]
IE9:
[code]
I even tried Opera:
[code]

[2015-07-02 19:22] zherczeg commented on #287
http://stackoverflow.com/questions/5525795/does-javascript-guarantee-object-property-order

Here they say only ES6 defines the order. The same order above is probably the result of the ES6 support of browsers.

ECMAScript 6 seems to formalize in which order the properties should be iterated over:

    integer indexes(*) in ascending order
    strings in creation order
    Symbols in creation order

[2015-07-02 23:35] seanshpark commented on #231
It works with https://github.com/Samsung/jerryscript/issues/231#issuecomment-116652062 !

[2015-07-02 23:50] ruben-ayrapetyan commented on #231
@seanshpark, it's great!

[2015-07-03 04:49] egavrin commented on #287
@zherczeg in this case it makes sense.

[2015-07-03 15:47] galpeter commented on #287
Also there is a test in the test262 suite which expect the order to be the same as the elements were added (https://github.com/tc39/test262/blob/es5-tests/test/suite/ch15/15.2/15.2.3/15.2.3.14/15.2.3.14-4-1.js).

Additionally there take the following js code:
[code]

Will print out:
[code]

I know the order is not defined in the standard, but still it's awkward to see that if I iterate over an obj

[2015-07-05 22:43] #296 closed

[2015-07-05 23:36] seanshpark commented on #231
I think this issue can be closed cause changes are for nuttx and added to 20150706 patch

[2015-07-05 23:36] #231 closed

[2015-07-06 04:44] seanshpark opened #304 "Segment fault with arm-linux in iotjs"
Please read https://github.com/Samsung/iotjs/issues/117#issuecomment-118208460 for details.
JerryScript standalone built for arm-linux running in RPi2 is ok.

[2015-07-06 07:17] seanshpark commented on #304
Changing  jmp_buf size from 14 to 16 solves this.
[code]
@ruben-ayrapetyan ,  can you guess why this could solve the problem? :)

[2015-07-06 08:33] seanshpark commented on #304
#294

[2015-07-06 09:04] galpeter commented on #133
IMHO this can be closed now as the `ecma_length_t` is now a `uint32_t`.

[2015-07-06 09:17] galpeter commented on #285
The problem is that in the `ecma_object_get_class_name` only the RegExp prototype is registered, and the object is not. This should fix the error:
[code]

Also please note that the case `NaN == Date` throws a similar error, and the cause is the same.

[2015-07-06 09:21] #133 closed

[2015-07-06 09:27] LaszloLango commented on #285
@galpeter, thanks for the fix

[2015-07-06 11:23] LaszloLango commented on #285
@galpeter, sorry, I forgot to add it. I've updated the PR, please check.

[2015-07-06 13:06] zherczeg opened #310 "Add functionality to append or remove last element of ecma-collections"
Currently ecma collections has no append (update/remove) functionality. Append is required by JSON.

Test cases are required for testing append as well.

[2015-07-06 13:08] zherczeg opened #311 "JSON should use ecma collections"
After append is added to ecma collections (#310), JSON should use it instead of its own collection.

[2015-07-06 13:13] renatahodovan opened #312 "Assertion 'property_p != NULL' failed in ecma_get_internal_property"
###### Jerry version:
    Checked revision: 4e5e7bb
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-06 13:16] LaszloLango opened #313 "Prerequisite script fails."
Prerequisite script fails with the following message:
[code]

[2015-07-06 13:17] renatahodovan opened #314 "Segmentation fault in ecma_builtin_regexp_prototype_to_string"
###### Jerry version:
    Checked revision: 4e5e7bb
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-06 13:26] renatahodovan opened #316 "Assertion 'ecma_get_value_type_field (value) == ECMA_TYPE_OBJECT' failed in ecma_get_object_from_value"
###### Jerry version:
    Checked revision: 4e5e7bb
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-06 13:30] renatahodovan opened #317 "Assertion 'ecma_builtin_is (obj_p, ECMA_BUILTIN_ID_GLOBAL)' failed in ecma_object_get_class_name"
###### Jerry version:
    Checked revision: 4e5e7bb
    Build: debug.linux
###### OS:
    Ubuntu 14.10, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-06 16:55] ruben-ayrapetyan commented on #310
Blocks #311

[2015-07-06 16:56] ruben-ayrapetyan commented on #311
Requires: #310

[2015-07-06 17:56] ruben-ayrapetyan commented on #304
@seanshpark,
seems that jerry, built for iotjs, uses headers of jerry-libc, while actually it is linked to another libc (libc?).

The another libc has its own implementation of `setjmp` with another `jmp_buf` layout (probably, 256 bytes, as specified in glibc's `setjmp.h` for arm-linux-gnueabihf).
When switching to `16` elements, size of `jmp_buf` changes to 128 bytes. May be, the size is not real

[2015-07-07 00:09] seanshpark commented on #304
@ruben-ayrapetyan , thank you very much for the analysis.
`USE_DEFAULT_LIBC` will be nice.  extracting compiler (there can be many) include path can be an issue in some cases. or is there any simple way?
I'v tried with EXTERNAL_LIBC_INTERFACE and seems to work ok with jmp_buf size 14.

[2015-07-07 04:40] seanshpark commented on #304
@ruben-ayrapetyan ,
I've made a patch: https://github.com/seanshpark/jerryscript/commit/cef7eebed21334cfac643aa8f36c0acd2e8140c9
This works with IoT.js but option is not exposed to Makefile. I'm not sure about the needs to other options and side effects it may cause so did not touch much. Can you review this?
And ... I can think of three options about this.
1) just merge as is and expand later whe

[2015-07-07 12:53] zherczeg opened #323 "Implement toLowerCase and toUpperCase"
String manipulation functions and regular expressions require lowercase/uppercase conversion. See

http://www.ecma-international.org/ecma-262/5.1/#sec-15.5.4.16

To implement them, we need some utilities in the core.

1) We need a variant, which converts a character to its uppercase described in (starting from Canonicalize part)
http://www.ecma-international.org/ecma-262/5.1/#sec-15.10.2.8

2) We

[2015-07-07 22:53] ruben-ayrapetyan commented on #304
@seanshpark, could you, please, check #331?

The patch:
- adds `USE_COMPILER_DEFAULT_LIBC` option to CMakeLists.txt and Makefile: in case `USE_COMPILER_DEFAULT_LIBC` option is specified, `USE_JERRY_LIBC` flag is turned off;
- removes `-nostdlib` option in case `USE_JERRY_LIBC` mode is turned on;
- removes `imported_libc` target;
- turns off setup of `LIBC_TARGET_NAME` variable for case `USE_JERRY_

[2015-07-07 23:38] seanshpark commented on #304
Wonderful! #331 works perfect. Thank you very much!

[2015-07-07 23:40] ruben-ayrapetyan commented on #304
@seanshpark, thank you!

[2015-07-08 00:07] seanshpark commented on #313
@egavrin , can you please add some explanation about removing nuttx support?
for me, it's ok. I think removing can reduce efforts to maintain, and support for various platforms can be added to wiki guide pages.

[2015-07-08 02:06] ILyoan opened #332 "Lowering required CMake version"
JerryScript requires CMake 2.8.12.
[code]

However, It seems like some version of ubuntu only support CMake 2.8.7 with 'apt-get'  that developers running such ubuntu should manually download and build CMake 2.8.12.

Is there any problem lowering minimum required version of CMake to 2.8? If there are no problems why don't we lower the required version.

[2015-07-08 07:27] egavrin commented on #313
@seanshpark the main reason to add nuttx was to check integration, not to add functionality. Same result can be achieved with the current infrastructure. For me, build-only testing is useless since it doesn't reveals any issues at run-time, like #296. #304. #231. etc. We should setup proper integration testing with IoTjs.

PS Regarding guides, you're absolutely right - current guides does not prov

[2015-07-08 07:41] seanshpark commented on #313
Thank you for detailed explanation!

[2015-07-08 09:27] #145 closed

[2015-07-08 10:25] egavrin commented on #313
Fixed at ddc3f0d6e85e8e1257f3d16b577b579e48c7233b

[2015-07-08 10:25] #313 closed

[2015-07-08 10:37] egavrin opened #333 "Stress testing of the engine"
Do you know any fuzzers or stress testing suites that can useful for us?

- jsfunfuzz - https://www.squarefree.com/2007/08/02/introducing-jsfunfuzz/
- afl-fuzz for javascript - https://github.com/tunz/afl-fuzz-js

[2015-07-08 11:50] galpeter commented on #61
JSON landed in: https://github.com/Samsung/jerryscript/commit/d1a5f7fc87dd4a68434942c45d841d6585025d9d

[2015-07-08 11:50] #61 closed

[2015-07-08 11:57] galpeter commented on #332
On ubuntu 12.04 which has CMake 2.8.7 the gcc is also old. It's only 4.6 which can not compile the engine (AFAIK). So on that systems the user/developer should also install a new gcc. I think this is a bit more general question on what is the minimum required version of tools for which we support the build.

I'm not against modifying the required version for the cmake, I'm just concerned that on s

[2015-07-08 12:19] egavrin commented on #332
I think latest Ubuntu LTS should be fine, so we may just make it default for developers.

[2015-07-08 12:27] sand1k commented on #323
@zherczeg, these functions are not in our nearest aims, as we are concentrating on fixing test262 and  improving the parser. We could implement them in three weeks.
Maybe you can implement them roughly for now, supporting ASCII only for example, and we'll fix them later?

[2015-07-08 12:42] zherczeg commented on #323
Ok, I will sketch the appropriate functions and you can implement them later.

[2015-07-08 12:44] sand1k commented on #323
@zherczeg, thank you.

[2015-07-08 14:51] egavrin commented on #49
Merged at 146ac15b5ffab8a08b45276cab9ab109ec6bd254

[2015-07-08 14:51] #49 closed

[2015-07-08 20:08] egavrin commented on #83
Looks like Number is completed, can we close it?

[2015-07-08 20:22] renatahodovan opened #339 "Assertion '!ecma_number_is_nan (res)' failed in lexer_parse_number"
###### Jerry version:
    Checked revision: 146ac15
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-08 20:40] renatahodovan opened #340 "Assertion '!lit_utf8_iterator_is_eos (iter_p)' failed in lit_utf8_iterator_read_next"
###### Jerry version:
    Checked revision: 146ac15
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-08 20:57] renatahodovan opened #341 "Segmentation fault in longjmp"
###### Jerry version:
    Checked revision: 146ac15
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

Hex: BF 0A 0A

###### Backtrace:
[code]

[2015-07-08 23:04] seanshpark opened #342 "Heap size limit for embed system"
Nuttx heap memory size limit is now gone for #313, commit 8a815fe35742fb45070ccf461998f137aa9b3e9e
it would be nice to set CONFIG_MEM_HEAP_AREA_SIZE  from command line.
I couldn't find an issue about it so I'm adding this one.

[2015-07-09 04:53] ILyoan commented on #332
I found that we could not build jerry without changing CMake script since we use `target_include_directories`, `target_compile_difinitions` and maybe more which are added from CMake 2.8.11. That my conclusion is that ubuntu 12.04 is not sufficient to build Jerry because of CMake version problem as well as gcc and probably other infrastructure.

Closing this issue for won't fix.

[2015-07-09 04:53] #332 closed

[2015-07-09 05:14] seanshpark opened #344 "iotjs build break for nuttx"
iotjs build is using nuttx parts in cmake scripts and as #330 landed iotjs nuttx build fails by the changes.
I'm trying to fix the scripts with using `PLATFORM` as `EXTERNAL` and not getting anywhere.
@egavrin , can you please quick fix this?
there are items that needs some fix
* using `CMAKE_SYSTEM_VERSION` as platform name
* complicate mode and hard tracking built target

[2015-07-09 05:59] seanshpark commented on #344
this is what I've tried.
[code]

error is something like this
[code]

[2015-07-09 06:36] seanshpark commented on #344
found fix for error and added RR #345

[2015-07-09 06:43] zherczeg opened #346 "concatenating surrogates fails"
var str1 = "\ud801\udc00";
var str2 = "\ud801";
var str3 = "\udc00";
print(str1 == str2 + str3);

should be true, not false

Actually I need a similar technique for implementing toLowerCase/toUpperCase, and would like to mimic what the concatenation does. Unfortunately concatenation does not work at the moment.

[2015-07-09 07:20] seanshpark commented on #342
adding  `-DCONFIG_MEM_HEAP_AREA_SIZE=(some number)` to compile flags limits the heap size.
@egavrin , do you think it's ok to use like this or add another variable and let that variable set  `CONFIG_MEM_HEAP_AREA_SIZE` value?

[2015-07-09 07:47] galpeter commented on #83
Yeah it's done, closing issue.

[2015-07-09 07:47] #83 closed

[2015-07-09 08:34] renatahodovan opened #348 "Assertion 'ecma_date_year_from_time (time) == ym' failed in ecma_date_make_day"
###### Jerry version:
    Checked revision: 146ac15
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-09 08:59] #285 closed

[2015-07-09 13:04] szledan opened #351 "Internal value of Date.prototype should be NaN."
### Test:
`assert (isNaN(Date.prototype.valueOf.call(Date.prototype)));`

### ECMA:
http://www.ecma-international.org/ecma-262/5.1/#sec-15.9.5

[2015-07-09 13:04] szledan commented on #351
:)

[2015-07-09 14:17] akiss77 commented on #333
The University of Szeged has a proprietary fuzz testing framework with no imminent plans for open sourcing but is happy to share any issues it discovers in Jerry. (Actually, several previously reported issues were discovered with its help.)

[2015-07-09 17:16] galpeter opened #354 "Support arguments lists longer than 255 in byte-code"
If a js source contains an object with more than 255 key then the engine goes into infinite loop in the `syntax_check_for_duplication_of_prop_names` function (`jerry-core/parser/js/syntax-errors.cpp`).

Testcase:
[code]

[2015-07-09 17:19] ruben-ayrapetyan commented on #354
// this can be partial solution for large objects https://github.com/Samsung/jerryscript/tree/Ruben-fix-syntax-check-for-large-object-literals

[2015-07-09 17:22] galpeter commented on #354
What I found out is that the infinite loop is caused by size of the stack used in the `syntax-errors.cpp`. There the stack is used with `uint8_t` type. I've tried to change it to `unit16_t` to see what happens, and then the infinite loop disappeared, and an assert appeared:
[code]

[2015-07-09 17:22] ruben-ayrapetyan commented on #354
Yes, because of this the solution in the branch is only partial.

[2015-07-09 21:05] ruben-ayrapetyan commented on #344
@seanshpark, I've tried to reproduce the issue with nuttx build, using jerry revision 8d7cdebee09d9fcccb85b47efa4e84341f065607 and iotjs revision ed5e309c6c833dea924a8699de86d94a39cf748e, but build was successful and the issue didn't appear.

Could you, please, check the changes?
The changes are based on pull request #345; additionally, they remove main module target for external build, as it is s

[2015-07-09 21:18] ruben-ayrapetyan commented on #342
@seanshpark, could you, please, check the changes?

The patch could be applied above changes from https://github.com/Samsung/jerryscript/issues/344#issuecomment-120143978
[code]

[2015-07-09 23:06] seanshpark commented on #342
@ruben-ayrapetyan , I couldn't have done it better. I works fine.
I'll update PR #345 with this as separate commit commits with your sign also.

[2015-07-09 23:08] seanshpark commented on #344
@ruben-ayrapetyan , works just great! thank you. I'll update PR #345 with your sign also.

[2015-07-10 00:37] seanshpark opened #355 "unittests/unit-test-date-helpers fail for 32bit"
When I do pre-commit test I get
[code]
`./build/bin/unittests/unit_tests_run.log` says
[code]

is this a problem for only me or a bug? or duplicate issue?

[2015-07-10 07:38] egavrin commented on #355
Could you please share your environment?

On dbf3708255217f360a72c02fadb185a76e5fbf67 :
[code]

[code]

[2015-07-10 07:57] galpeter opened #356 "Allow unset values when creating arrays"
In js it is possible to create arrays with unset values.
Example:
[code]
In this case the `data` array's `1` and `2` properties **should not** exist.
[code]

Currently both the 1 and 2 is set to undefined which is incorrect.

However the `data.length` should be `4` and when accessing the `data[1]` and `data[2]` should return `undefined`

Testcase:
[code]

[2015-07-10 08:06] #255 closed

[2015-07-10 08:45] renatahodovan opened #358 "Assertion 'label_p->continue_tgt_oc != MAX_OPCODES' failed in jsp_label_rewrite_jumps_and_pop"
###### Jerry version:
    Checked revision: 9b24d8f
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-10 08:51] renatahodovan opened #359 "Assertion 'STACK_ELEMENT (props, i).type == VARG' failed in syntax_check_for_syntax_errors_in_formal_param_list"
###### Jerry version:
    Checked revision: 9b24d8f
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-10 08:57] galpeter commented on #233
Closing issue, as this was implemented in https://github.com/Samsung/jerryscript/pull/334 and landed in: https://github.com/Samsung/jerryscript/commit/8d7cdebee09d9fcccb85b47efa4e84341f065607

[2015-07-10 08:57] #233 closed

[2015-07-10 10:25] #245 closed

[2015-07-10 10:59] LaszloLango commented on #317
Related to #285 and it is already fixed in #308.

[2015-07-10 10:59] #317 closed

[2015-07-10 11:34] dbatyai opened #362 "Iterating over sparse Arrays"
Built-in functions that require us to iterate over Arrays currently do so by iterating over the whole length of the array. Most of the time this is necessary, but there are some function where we can get away with only iterating over the defined properties. This should be done wherever possible, since this could greatly decrease runtime in case the array is sparse.

For example:
[code]
Functions w

[2015-07-10 12:18] galpeter opened #364 "Incorrect parser error when calling Function constructor"
The testcase:
[code]

reports the following error:
[code]

However this should not cause any errors.

[2015-07-10 13:23] ruben-ayrapetyan commented on #344
@seanshpark, great! Thank you too for checking.

[2015-07-10 13:24] ruben-ayrapetyan commented on #342
@seanshpark, great! Thank you for checking.

[2015-07-10 15:20] galpeter commented on #152
@ruben-ayrapetyan, @egavrin I've created a proof-of-concept patch to see how could we initialize the properties, please see commit on the https://github.com/galpeter/jerryscript/commits/builtin_init branch. What do you think about it?

One thing I currently see that if we initialize all properties for a given built-in then we can remove the `_try_to_instantiate_property` method. which is currently

[2015-07-12 23:02] seanshpark commented on #355
I think it's related with 32bit.  I use Ubuntu 14.04 32bit for main development.
64bit Ubuntu 14.04 test passes successfully.
Source 13cf31413f6a3a1683c62ac4ed3f19d98d9b2cd2

[2015-07-13 08:42] renatahodovan opened #378 "Assertion 'bytes_copied > 0' failed in ecma_builtin_json_quote"
###### Jerry version:
    Checked revision: 13cf314
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-13 08:46] renatahodovan opened #379 "Segmentation fault in list_has_element"
###### Jerry version:
    Checked revision: 13cf314
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-13 08:56] renatahodovan opened #380 "Assertion 'copied > 0' failed in ecma_is_string_magic_longpath"
###### Jerry version:
    Checked revision: 13cf314
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-13 09:06] renatahodovan opened #381 "Assertion 'STACK_ELEMENT (props, j).type == VARG' failed in syntax_check_for_syntax_errors_in_formal_param_list"
###### Jerry version:
    Checked revision: 13cf314
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-13 13:09] ruben-ayrapetyan commented on #152
@galpeter, could you, please, clarify would properties of built-ins that are not accessed during execution of a script, be initialized if the changes are applied?

[2015-07-13 13:52] galpeter commented on #152
@ruben-ayrapetyan, this would initialize all builtins as once you access the global object (with `ecma_builtin_get`) all builtins which are there are initialized, and also the properties of those builtins.

The code works that it would only initialize the given (`ecma_instantiate_builtin` function argument) builtin's properties and the builtin prototype's properties (and it's prototype's propertie

[2015-07-13 14:01] ruben-ayrapetyan commented on #152
@galpeter, currently used version initializes a built-in's property only upon access to the property.

Could we implement enumeration without removing the lazy instantiation? Maybe, we could add special ecma_op_object_get_own_property_names for enumerating the names, without instantiating  a built-in's properties until they are not not actually accessed.

What do you think about this?

[2015-07-13 14:52] galpeter commented on #152
@ruben-ayrapetyan currently the in the property list, which is returned by the `ecma_get_property_list` call, not all properties are there for built-ins. If we introduce a special function I'm afraid it could give us headache later on. If we introduce a special call we would need to have a list of all builtin property names somewhere, but then if we instantiate all properties for a builtin there i

[2015-07-13 15:13] sand1k opened #384 "Remove redundant !lit_utf8_iterator_is_eos (&source_str_iter) checks from lexer"
Refactor the lexer's code so that iterator is checked for EOS only in one place.

[2015-07-13 16:48] ruben-ayrapetyan commented on #152
@galpeter, names of properties for each built-in are already stored in memory (`ecma_builtin_property_names` static arrays).
Also, maybe, there is very limited number of points, were we really need the whole list of properties names (not necessary instantiation of the properties).

Contrariwise, disabling lazy instantiation of built-in's properties increases memory usage.

[2015-07-14 07:19] seanshpark commented on #344
close as #345 landed

[2015-07-14 07:19] #344 closed

[2015-07-14 07:20] seanshpark commented on #342
close as PR landed

[2015-07-14 07:20] #342 closed

[2015-07-14 07:22] seanshpark commented on #304
close as #313 and #343 landed

[2015-07-14 07:22] #304 closed

[2015-07-14 10:36] rtakacs commented on #378
Merge request: #387

[2015-07-14 11:00] LaszloLango opened #388 "Remove recursion depth check from RegExp engine."
Related discussion: https://github.com/Samsung/jerryscript/pull/366#discussion_r34459554

[2015-07-14 12:01] galpeter commented on #279
Proposed fix: #389

[2015-07-14 13:14] renatahodovan commented on #333
The "problem" with jsfunfuzz is that it generates the test cases on the fly which means that the whole generator script needs to be loaded by the engine every time. Hence jerry would need to load ~5500 LOC to generate a single test case but unfortunately it runs of the registers quickly.

I've also tried the recently popular afl fuzzer against jerry however it constantly crashes on the longjmp bug

[2015-07-14 13:19] ruben-ayrapetyan commented on #341
The failure is caused by invocation of `syntax_raise_error` before `setjmp` was performed in `parser_parse_program`.

[2015-07-14 13:33] ruben-ayrapetyan commented on #341
Pull request with fix: #390

[2015-07-14 13:36] ruben-ayrapetyan commented on #333
@renatahodovan, maybe we can generate tests by running jsfunfuzz separately, and then use the generated tests for checking.

<br/>

Could you, please, check #390?

[2015-07-14 16:16] ruben-ayrapetyan commented on #341
Fixed.

[2015-07-14 16:16] #341 closed

[2015-07-14 16:16] ruben-ayrapetyan commented on #333
#341 is fixed.

[2015-07-14 16:56] ruben-ayrapetyan commented on #354
Pull request with fix of `syntax_check_for_duplication_of_prop_names`.

[2015-07-15 08:09] kkristof commented on #93
I'm closing this issues because all of them have been landed.

[2015-07-15 08:09] #93 closed

[2015-07-15 10:41] rtakacs opened #402 "Missing case for backspace control character in JSON.parse()"
The \b character isn't handled in the parse property of the JSON.

[2015-07-15 10:42] rtakacs commented on #402
Pull request: #401

[2015-07-15 11:53] egavrin commented on #378
Fix is on master 292d99ba4e3160590387b3d3d9cedf3a64eb4914

@renatahodovan may we close this issue?

[2015-07-15 12:33] rtakacs opened #403 "Fix undeflow in JSON.stringify()"
If the 'space' (formatting) parameter is negative, the JSON format is wrong.

[2015-07-15 12:34] rtakacs commented on #403
Pull request: #404

[2015-07-15 14:09] ruben-ayrapetyan opened #405 "Unicode support in implementation of parseInt"
Hello.

Implementation of `parseInt` (ecma-builtin-global.cpp) should be updated to use UTF-8 iterators for processing characters buffer.

Comment of @zherczeg in #394:

[2015-07-15 15:09] renatahodovan commented on #378
@egavrin yeah, it looks good. Thanks!

[2015-07-15 15:30] #378 closed

[2015-07-15 15:45] galpeter commented on #351
Closing issue as this was fixed in: https://github.com/Samsung/jerryscript/commit/9c559216b7b72cf5073cc4dea644ae332d3c140b

[2015-07-15 16:11] renatahodovan opened #406 "Assertion 'bytes_copied > 0 || !string_len' failed in ecma_builtin_json_quote"
###### Jerry version:
    Checked revision: abc2b55
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-15 16:33] akiss77 opened #407 "Region FLASH overflow for debug.mcu_stm32f4-cp"
When building all targets, make stops with:

[code]

git rev-parse --short master: abc2b55
OS: Ubuntu 14.04.1 LTS
uname -srm: Linux 3.13.0-44-generic x86_64
arm-none-eabi-gcc --version: arm-none-eabi-gcc (4.8.2-14ubuntu1+6) 4.8.2

[2015-07-15 16:38] egavrin commented on #403
Merged at 8aeb2a055ec58596556d69e499375a2cf73ec84d

[2015-07-15 16:38] #403 closed

[2015-07-15 16:40] #351 closed

[2015-07-15 18:23] renatahodovan opened #410 "Assertion 'day_within_year >= 0 && day_within_year < 365 + in_leap_year' failed in ecma_date_month_from_time"
###### Jerry version:
    Checked revision: abc2b55
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-15 19:15] renatahodovan opened #411 "Out of memory error with JSON.stringify"
###### Jerry version:
    Checked revision: abc2b55
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Description:
Calling JSON.stringify with a not too big (length > 38) array ends in an out of memory error.
###### Test case:
[code]

[2015-07-15 20:20] renatahodovan opened #413 "Segmentation fault in ecma_builtin_date_prototype_set_utc_minutes"
###### Jerry version:
    Checked revision: abc2b55
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-15 22:21] renatahodovan opened #414 "Assertion 'ecma_number_is_negative (ret_num)' failed in ecma_builtin_math_object_max"
###### Jerry version:
    Checked revision: abc2b55
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-16 07:21] egavrin commented on #279
Merged at db9b74a1147a3698b3b628bc86fadd4a20372ed5

[2015-07-16 07:21] #279 closed

[2015-07-16 08:51] renatahodovan commented on #413
Calling the following functions on the Date.prototype also ends in a segfault:
[code]

[2015-07-16 09:26] egavrin commented on #333
@renatahodovan could you please share how to run afl-fuzz for javascript?

[2015-07-16 09:55] renatahodovan commented on #333
@egavrin sure, however I'm also still working on how to exploit all of its features.

A customized version of afl-fuzz is available from here: https://github.com/tunz/afl-fuzz-js
You can run it two different ways: in the first case you can use your own jerry build, choose a set of initial test cases that will be mutated and a predefined dictionary to guide the mutation and go ahead. From the manua

[2015-07-16 10:09] akiss77 commented on #333
There is an experimental branch in my repo for overriding the default compiler (https://github.com/akiss77/jerryscript/commits/compiler-override) but it's not ready for PR yet. Feel free to (ab)use it directly from there though. (However, even that experiences the linker issue.)

[2015-07-16 11:17] rtakacs opened #417 "Implement Date.prototype.toISOString()"

[2015-07-16 11:51] #284 closed

[2015-07-16 13:34] renatahodovan opened #420 "Assertion 'ecma_date_month_from_time (time) == mn' failed in ecma_date_make_day"
###### Jerry version:
    Checked revision: b414329
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-16 13:37] szledan commented on #420
Could you please assign this to me?

[2015-07-16 13:37] kkristof commented on #420
Sure :)

[2015-07-16 14:21] renatahodovan commented on #414
Similar assertion failure happens if calling Math.min with negative infinity:

[code]

[2015-07-16 17:12] ruben-ayrapetyan opened #424 "Remove usage of isalpha and isdigit from JSON built-in's implementation"
Hello.

Currently, implementation of JSON built-in uses isalpha and isdigit functions.
Instead, helpers from lit_char should be used.

After the replacement is performed, `isalpha` and `isdigit` functions should be removed.

[2015-07-17 08:33] renatahodovan opened #426 "Assertion '!lit_utf8_iterator_is_eos (&iter)' failed in lit_utf8_string_code_unit_at"
###### Jerry version:
    Checked revision: 6038173
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-17 13:01] renatahodovan opened #428 "Segmentation fault in ecma_builtin_global_object_parse_int"
###### Jerry version:
    Checked revision: 6038173
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-17 13:12] galpeter commented on #428
The problem is that the buffer size calculation is off by one. There was a `+1` for the array alloc, but it was removed in the PR: https://github.com/Samsung/jerryscript/pull/389

[2015-07-17 13:12] renatahodovan opened #429 "Assertion 'ecma_is_completion_value_throw (completion) || ecma_is_completion_value_return (completion)' failed in vm_run_from_pos"
###### Jerry version:
    Checked revision: 6038173
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-20 08:19] rtakacs opened #432 "Segmentation fault in JSON.stringify()"
Test case:
[code]

[2015-07-20 08:21] rtakacs commented on #432
Pull request: #433

[2015-07-20 08:25] renatahodovan commented on #432
This is the same as #379

[2015-07-20 08:37] rtakacs commented on #432
Ah, indeed :)

[2015-07-20 09:07] #410 closed

[2015-07-20 10:18] rtakacs commented on #411
This happens during ecma_concat_ecma_strings. I think this bug is related to the core.

[2015-07-20 12:13] ruben-ayrapetyan commented on #411
@rtakacs, the bug is related to `realloc_list` function (ecma-builtin-helpers-json.cpp).

[2015-07-20 12:18] ruben-ayrapetyan commented on #411
Seems that calculation of block sizes and `current_p` / `block_end_p` pointers assumes that difference of pointers would be equal to arithmetic difference of addresses. Actually, value is the difference divided by sizeof (void*). Usage of incorrect pointers subsequently leads to overwrite of heap structures.

[2015-07-20 14:18] ruben-ayrapetyan commented on #381
Pull request with fix: #412

[2015-07-20 14:20] ruben-ayrapetyan commented on #364
On current master the test cases finishes successfully.

[2015-07-20 14:22] ruben-ayrapetyan commented on #364
Fixed by #373

[2015-07-20 14:22] #364 closed

[2015-07-21 06:48] ILyoan opened #439 "Segmentation fault at `jerry_api_string_to_char_buffer()` for empty string."
`jerry_api_string_to_char_buffer()` was designed to return negation of required bytes for buffer when given buffer is not sufficient.

This function can take `NULL` for buffer to calculate required bytes to allocate buffer for a string. But if the string is actually empty string ('') then this will result segmentation fault.
[code]
here, `ecma_string_to_utf8_string` returns `0`, next if statement

[2015-07-21 12:29] kkristof opened #440 "Regression after #397 has been landed"
The following test can reproduce the problem:
[code]
This now throws `ReferenceError`.
It also makes 29 test262 tests to fail.

[2015-07-21 13:06] ruben-ayrapetyan commented on #440
@kkristof, thank you for raising the issue.

In my environment, ReferenceError is also raised at 005eb044a93b5ecaf7ac385c8fa9c866e3554b38 (just before #397 - abc2b55297eff13538fca2440d127ba79cdcc8b3 - was merged).

So, maybe, the issue is not connected with the #397 patch.
Could you, please, check this in your environment?

[2015-07-21 13:21] ruben-ayrapetyan commented on #440
@kkristof, with the following patch test finishes successfully in my environment.

Could you, please, also check the following patch for this and other 29 failing tests in your environment, and list tests that are fixed with the patch?

Thank you in advance,

[code]

[2015-07-21 13:27] ruben-ayrapetyan commented on #440
Failure caused by missing check for current nesting level during search for identifier tokens.

[2015-07-21 13:47] akiss77 commented on #424
There is a name clash with `isalpha` if compiler-default library is used for the build (on x86_64 Ubuntu 14.04.2 LTS with gcc 4.8.4). Is it worth reporting/fixing the issue (only 4 lines of changes) or should I wait for the replacement?

[2015-07-21 14:05] kkristof commented on #440
Sorry, the minimized example was wrong, The original test case was the following:
[code]

The following test262 test cases were affected:
* ch15/15.2/15.2.3/15.2.3.6/15.2.3.6-4-291-1
* ch15/15.2/15.2.3/15.2.3.6/15.2.3.6-4-291
* ch15/15.2/15.2.3/15.2.3.6/15.2.3.6-4-297-1
* ch15/15.2/15.2.3/15.2.3.6/15.2.3.6-4-297
* ch15/15.2/15.2.3/15.2.3.6/15.2.3.6-4-298-1
* ch15/15.2/15.2.3/15.2.3.6/15.2.3.6-4-29

[2015-07-21 14:11] ruben-ayrapetyan commented on #440
@kkristof, thank you!

[2015-07-22 08:50] renatahodovan opened #445 "Assertion 'buff_index <= buff_size' failed in ecma_builtin_number_prototype_object_to_string"
###### Jerry version:
    Checked revision: 7c16228
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-22 08:55] renatahodovan opened #446 "Assertion 'ecma_get_object_type (func_obj_p) == ECMA_OBJECT_TYPE_BOUND_FUNCTION' failed in ecma_op_function_has_instance"
###### Jerry version:
    Checked revision: 7c16228
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-22 10:04] renatahodovan commented on #445
Probably a related crash with the following test:

[code]

Backtrace:
[code]

[2015-07-22 10:11] renatahodovan opened #447 "Assertion 'lit_cp.packed_value != MEM_CP_NULL' failed in get_variable_value"
###### Jerry version:
    Checked revision: 7c16228
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-22 13:15] kkristof commented on #420
The #422 pull request also solved this assertion.

[2015-07-22 13:15] #420 closed

[2015-07-22 13:15] #110 closed

[2015-07-22 13:24] dbatyai commented on #356
The following test262 tests fail because of this issue:
[code]

[2015-07-22 15:38] sand1k commented on #439
@ILyoan, thanks for reporting, (NULL, 0) case should be processed gracefully.

Maybe, we should also change this function, so it doesn't write '\0' at the end of buffer, because unicode strings may contain 0 in the middle?
@ILyoan, @ruben-ayrapetyan what do you think?

[2015-07-22 19:07] renatahodovan opened #453 "Assertion '(!ecma_is_completion_value_empty (try_completion) && frame_ctx_p->pos <= try_end_oc) || (ecma_is_completion_value_empty (try_completion) && frame_ctx_p->pos == try_end_oc)' failed in opfunc_try_block"
###### Jerry version:
    Checked revision: 63083b3
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-22 19:30] ruben-ayrapetyan commented on #440
Pull request with fix: #442

[2015-07-22 19:30] #440 closed

[2015-07-22 19:36] ruben-ayrapetyan commented on #439
@sand1k, I think removing `\0` from end of buffer is good solution, as it would also make API more accurate and clear in relation to possible presence of '\0' inside of character set.

[2015-07-23 09:25] rtakacs commented on #417
Fixed by https://github.com/Samsung/jerryscript/pull/418.

Closing this issue.

[2015-07-23 09:25] #417 closed

[2015-07-23 13:31] rtakacs opened #460 "Support local time output for the printer methods of the Date object."
All printing methods of the Date object use UTC time however some of them should use LOCAL time.

[2015-07-23 13:31] rtakacs commented on #460
Pull request: #461

[2015-07-24 05:36] ILyoan commented on #439
@sand1k I don't mind removing `\0` at the end. Actually I didn't know that this API was adding `\0` before encounter this segmentation fault.

[2015-07-24 09:21] galpeter commented on #355
Fix landed: https://github.com/Samsung/jerryscript/commit/021fc626526a141a4deae4f2e60669546209cf2c

[2015-07-24 09:21] #355 closed

[2015-07-24 10:35] renatahodovan opened #463 "Assertion 'mem_heap.allocated_bytes >= bytes' failed in mem_heap_free_block"
###### Jerry version:
    Checked revision: 021fc62
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-24 10:43] renatahodovan opened #464 "Assertion 'lit_is_utf8_string_valid (string_p, string_size)' failed in ecma_new_ecma_string_from_utf8"
###### Jerry version:
    Checked revision: 021fc62
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

The content of exec in hex: F1 89 9E 8D

###### Backtrace:
[code]

[2015-07-24 11:04] renatahodovan opened #465 "Segmentation fault in re_parse_char_class"
###### Jerry version:
    Checked revision: 021fc62
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-24 11:12] renatahodovan opened #466 "Assertion '!is_check_failed' failed in do_strict_eval_arguments_check"
###### Jerry version:
    Checked revision: 021fc62
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-07-24 13:22] galpeter commented on #428
#430 fixed it, closing issue

[2015-07-24 13:22] #428 closed

[2015-07-24 13:29] LaszloLango opened #468 "Optimize character classes compilation in RegExp"
Related discussion: https://github.com/Samsung/jerryscript/pull/448#discussion_r35415567

[2015-07-24 13:34] LaszloLango opened #469 "Add missing ECMA standard references in RegExp parser."
Add missing ECMA standard references in `re-parser.cpp`.

[2015-07-24 15:34] galpeter commented on #114
For me it work now, I think we can close it.

[2015-07-24 15:37] galpeter commented on #123
Now I'm getting the following error:
[code]

[2015-07-24 15:38] galpeter commented on #129
Now I'm getting the following error:
[code]
So I think it works correctly now.

[2015-07-24 15:39] galpeter commented on #130
It works for me now, closing.

[2015-07-24 15:39] #130 closed

[2015-07-24 15:40] galpeter commented on #195
Closing as it is fixed now.

[2015-07-24 15:40] #195 closed

[2015-07-24 15:46] galpeter commented on #257
I think this is fixed now as I'm getting a syntax error instead.

[2015-07-24 15:47] galpeter commented on #256
This is now fixed, I'm getting the correct 'SyntaxError: RegExp quantifier error: qmin > qmax.' error message.

[2015-07-24 15:47] #256 closed

[2015-07-24 15:50] galpeter commented on #414
Fixed by #452.

[2015-07-24 15:50] #414 closed

[2015-07-24 18:08] egavrin opened #470 "C++"
Hi folks,
We'd like to use the following C++ features in our code base:
- class
  - single inheritance
    - _reduce source code size_
  - copy / move constructors
    - _improve perf._
    - _much simplifies GC related logic_
  - virtual functions (very limited, advisable usage)
    - _reduce cross-module dependencies_
- constexpr
 - _improve perf, reduce code size_
- static_assert
 - _quality_
-

[2015-07-26 08:01] elfring opened #472 "Complete quoting for parameters of some CMake commands"
Some parameters (like "[${CMAKE_BINARY_DIR}/generated.h](https://github.com/Samsung/jerryscript/blob/bc0ca7be5d1081e8a1115b870237f8d3f19b32d9/CMakeLists.txt#L92)") are passed to CMake commands in your build scripts without enclosing them by quotation marks. I see that these places will result in build difficulties if the contents of the used variables will contain special characters like semicolon

[2015-07-27 07:14] zherczeg commented on #470
Ruben will decide this so I am reassigning this to him.

[2015-07-27 08:35] kkristof opened #473 "Fix issues in the Date constructor"
There are some bugs in the date constructor.
The following cases produce wrong Date objects:
This should be invalid but it is valid:
[code]
The first one should be valid while the second one should be invalid:
[code]
This should be valid:
[code]

[2015-07-27 08:35] kkristof commented on #473
cc: @szledan @LaszloLango

[2015-07-27 09:16] kkristof commented on #473
According to the standard ([15.9.1.15](http://ecma-international.org/ecma-262/5.1/#sec-15.9.1.15)) the date string contains strictly four year digit. However other JS engines support it so I'm going to check how hard would be support this in the Jerry as well.

[2015-07-27 09:38] ruben-ayrapetyan commented on #470
@zherczeg, this list was prepared by @egavrin, @sand1k and me. We've shared it for review.

[2015-07-27 09:43] egavrin commented on #470
@zherczeg very strange behavior. We prepared this list to discuss with you.

[2015-07-27 10:14] akiss77 commented on #470
Hi guys. I cannot wholeheartedly support C++ in a very constrained environment like what we are aiming to target with JerryScript. Although it is true that static_assert, casts, and enum classes can improve type safety, and several above-listed feaures reduce _source_ code size, but isn't _binary_ size (and runtime memory usage) what we would like to keep at minimum? E.g., I'm truly concerned abou

[2015-07-27 13:22] jameswomack opened #475 "Numerous Grammatical Mistakes on the Website"
Greetings!

It's awesome Samsung is getting into the open source spirit. I checked out http://samsung.github.io/jerryscript/ and found it hard to read as many of the sentences have misspellings and grammatical mistakes. Running the text through the grammatical checker in Pages or Word should catch most of them.

[2015-07-27 14:38] rtakacs opened #477 "Fix [[Construct]] call for Date()"
Currently the [[Construct]] call of Date() returns with an object instead of a string.

[2015-07-27 14:46] egavrin commented on #475
Thank you! I'll check.

[2015-07-27 14:50] rtakacs commented on #477
PR: #479

[2015-07-28 05:32] zherczeg commented on #470
I agree with Akos. We should prove somehow that these features are useful from our perspective before using it. I think we should decide our target benchmark suites first, where we can measure progression. What do you think of SunSpider?

[2015-07-28 06:48] egavrin commented on #470
@zherczeg regarding benchmarks I see not mane options for now:
- ubench (fully supported)
- several SunSpider 1.0.2 benchmarks (several benchmarks are supported)
- possibly several Kraken ones

[2015-07-28 07:14] zherczeg commented on #470
These are ok for me. We should also decide the platform where we do measurements. I think the STM4 boards would be a good choice, since it has an ARM Thumb2 32-bit CPU, which is the most likely target for our engine.

Perhaps an automated measurement system would be the best option, where we can submit patches, and it measures these patches and compare them to trunk automatically. We should measur

[2015-07-28 07:33] egavrin commented on #470
STM measurements may take much time. Additionally, these boards are not stable and sometimes require manual reconnect. I'd prefer ARM board with Linux on board, like RaspPi.

[2015-07-28 07:43] zherczeg commented on #470
Good point. RPi is also a good choice. Which revision? I am not sure rev1 supports thumb 2. Rev 2 has quad core ARMv7 CPU.

[2015-07-28 09:39] zherczeg commented on #424
Fix: PR #484

[2015-07-28 10:53] rtakacs commented on #379
#433 fixed this issue.

[2015-07-28 10:54] #379 closed

[2015-07-29 06:46] simapple opened #489 "build error"
/usr/bin/cc cq librelease.jerry-libc.linux.lib.a  CMakeFiles/release.jerry-libc.linux.lib.dir/jerry-libc-fatals.c.o CMakeFiles/release.jerry-libc.linux.lib.dir/jerry-libc-pr   intf.c.o CMakeFiles/release.jerry-libc.linux.lib.dir/jerry-libc.c.o CMakeFiles/release.jerry-libc.linux.lib.dir/target/linux/jerry-libc-target.c.o CMakeFiles/release.jerry-l   ibc.linux.lib.dir/target/linux/jerry-asm.S.o
 gc

[2015-07-29 07:06] akiss77 commented on #489
Could you please specify: What's the compiler you are using? How did you invoke make? What platform are you building on/for?

[2015-07-29 07:23] simapple commented on #489
cmake 3.2.2
gcc 4.8.4
compile on gentoo  linux

[2015-07-29 08:49] akiss77 commented on #489
My build log contains the following line:
[code]

So, it seems that the `ar` tool is not determined correctly. The current cmake listfiles try to deduce its name/location from the location of `gcc` by appending `-ar`. E.g., on my Ubuntu installation, I have `gcc-4.8` and `gcc-ar-4.8` under `/usr/bin`. Is there a chance that you can set up some symlinks, until the issue persists?

[2015-07-29 09:17] kkristof commented on #464
On the current master (https://github.com/Samsung/jerryscript/commit/41aef56cbaec0a91ad9089028676c6b7bca6a53c) it works for me.

[2015-07-29 09:21] akiss77 commented on #424
Fix landed, closing issue

[2015-07-29 09:21] #424 closed

[2015-07-29 12:30] rtakacs commented on #406
PR: #491

[2015-07-29 13:24] kkristof commented on #473
The first test case is solved in #490. The support of the different date strings mentioned in the description   is postponed until we have more spare time and fewer open issues.

[2015-07-29 13:24] #473 closed

[2015-07-29 23:43] drasko opened #494 "Differences comparing to Duktape"
Hi,
can somebody please explain differences between JerryScript and Duktape (http://duktape.org/) project which is already used by many projects, notably AllJoyn, and why do we have to duplicate the work (in case that differences are not significant)?

BR,
Drasko

[2015-07-30 10:25] rtakacs opened #495 "Assertion 'mem_pools == NULL' failed in the Date constructor."
Test case:
[code]

[2015-07-30 10:26] rtakacs commented on #495
PR: #496

[2015-07-30 10:55] ILyoan opened #497 "Lost captured variable with eval."
Looks like there is a chance that JerryScript miss captured variable when closure are made with eval.

See this example:
[code]

I'm not sure about what is the expected result according to ECMA, but V8 print the value '2'. JerryScript does not.

[2015-07-30 11:59] galpeter commented on #405
Closing as this is fixed now.

[2015-07-30 11:59] #405 closed

[2015-07-30 14:14] rtakacs opened #501 "Add throwing of missing range error to Date.prototype.toISOString()"
We should throw a RangeError if the time value is nan or infinity.

[2015-07-30 14:21] rtakacs commented on #501
I have a solution but it depends on #477
I will create a PR when #477 is landed.

[2015-07-30 14:46] kkristof commented on #274
Currently this is working for me, maybe we should close this issue.

[2015-07-30 14:50] kkristof commented on #280
I think this is solved because now I get reference error. Maybe we should close this issue.

[2015-07-30 15:09] kkristof commented on #281
It is working for me, maybe we should close this issue.

[2015-07-30 16:59] kkristof commented on #286
I think this is fixed because I get SyntaxError.

[2015-07-31 14:06] rtakacs commented on #213
The following test262 conformance tests fail because we don't support TZA:
[code]

[2015-08-03 08:20] rtakacs commented on #501
PR: #510

[2015-08-03 08:21] #477 closed

[2015-08-03 08:21] #402 closed

[2015-08-03 08:21] #432 closed

[2015-08-03 08:22] #495 closed

[2015-08-03 08:30] LaszloLango commented on #257
@galpeter, syntax error is still a wrong behavior in this case. :(

[2015-08-03 08:31] renatahodovan opened #511 "Assertion 'mem_pools == NULL' failed in mem_pools_finalize"
###### Jerry version:
    Checked revision: b5923cc
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-08-03 12:44] LaszloLango commented on #465
@dbatyai, could you check that #505 is fixing this or not?

[2015-08-04 07:48] zherczeg commented on #158
After the fixes I tried to run the official test suite, but there is an out-of-memory error. The sta.js and testIntl.js is too much for Jerry. Could we extend the memory amount to a few megabytes?

[2015-08-04 08:15] lvidacs opened #515 "Rearrange String.prototype.indexOf, lastIndexOf and Replace helpers"
Similar functionality is implemented in three functions, create and use a common helper function.

[2015-08-04 08:17] #314 closed

[2015-08-04 08:19] LaszloLango commented on #314
works on latest rev: c41f76aba2473e9c241e06b12a4309fa265c857b

[2015-08-04 08:26] #413 closed

[2015-08-04 08:39] sragavan opened #516 "Dependency on tk"
Hi,

Im trying to build this for Edison and I couldn't proceed,as it some point needs 'tk' which need xlib. Jerryscript needs vera++ and vera++ needs tk. I dont think xlib would be available on edison image any time. Is there a plan on how to go about this?

[2015-08-04 10:31] egavrin commented on #158
The main issue, right now is testIntl.js and
Currently, the only changes for me is make `testIntl.js` empty and remove `test/suite/intl402/*`.

[2015-08-04 11:41] egavrin commented on #516
@sragavan please try again after #517 PR.

vera++ is a part of prerequisites script, which is used to download and build tools needed for code checking. Engine itself has no dependencies on them.

[2015-08-05 06:42] sragavan commented on #516
@egavrin Thanks for the rapid action. I will check it up.

[2015-08-05 07:02] #257 closed

[2015-08-05 10:29] renatahodovan opened #526 "Assertion 'ret_value == ecma_make_empty_completion_value ()' failed in ecma_builtin_json_stringify"
###### Jerry version:
    Checked revision: 24c16da
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-08-05 12:16] galpeter commented on #426
Closing as the fix landed

[2015-08-05 12:16] #426 closed

[2015-08-05 12:17] #94 closed

[2015-08-05 13:52] ruben-ayrapetyan commented on #310
Element removal interface is also necessary (https://github.com/Samsung/jerryscript/pull/509#issuecomment-127587829).

[2015-08-05 14:52] bzsolt opened #531 "Function.prototype.bind: incorrect behaviour of ecma_gc_mark()"
Related discussion: [#513 (comment)](https://github.com/Samsung/jerryscript/pull/513#issuecomment-127973747)

[2015-08-05 15:43] ruben-ayrapetyan opened #535 "Investigate possible ways to improve "GC start threshold" adjustment heuristics"
"GC start threshold" adjustment heuristics should be investigated to reduce number of those GC invocations that are most likely unnecessary.

See also: https://github.com/Samsung/jerryscript/pull/534#issue-99234304

[2015-08-06 07:11] #92 closed

[2015-08-06 08:50] #388 closed

[2015-08-06 11:22] kkristof commented on #511
The #513 fixed this.

[2015-08-06 11:22] #511 closed

[2015-08-06 11:31] kkristof commented on #406
Fixed in #491.

[2015-08-06 11:31] #406 closed

[2015-08-06 11:33] renatahodovan opened #541 "Assertion '(byte & LIT_UTF8_EXTRA_BYTE_MASK) != LIT_UTF8_EXTRA_BYTE_MARKER' failed in lit_utf8_iterator_seek"
###### Jerry version:
    Checked revision: 5888401
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-08-06 14:06] rtakacs commented on #411
#543 will resolve the bug :)

[2015-08-06 19:18] niutech opened #544 "JerryScript based on Espruino or Duktape?"
Why isn't JerryScript based on existing minimal open source ECMAScript engines: [Espruino](https://github.com/espruino/Espruino) or [Duktape](https://github.com/svaarala/duktape) (#494)? Is it a NIH syndrome which makes you reinvent the wheel? Or is JerryScript superior to them?

Thanks!

[2015-08-07 07:29] galpeter commented on #310
Closing as this was implemented & merged into master

[2015-08-07 07:29] #310 closed

[2015-08-07 07:33] galpeter commented on #312
Closing as fix was landed to master

[2015-08-07 07:33] #312 closed

[2015-08-07 07:34] galpeter commented on #316
Closing as fix was landed into master

[2015-08-07 07:34] #316 closed

[2015-08-07 07:35] galpeter commented on #445
Closing as fix was landed into master and the assert doesn't occur now.

[2015-08-07 07:35] #445 closed

[2015-08-07 07:46] zherczeg commented on #239
Closing as duplicate.

[2015-08-07 07:46] #239 closed

[2015-08-07 07:57] galpeter commented on #465
@LaszloLango, with the #505 there is no assert now.

[2015-08-07 08:13] zherczeg commented on #27
Everything is implemented, so we can close this bug.

[2015-08-07 08:13] #27 closed

[2015-08-07 08:45] usefulthink opened #546 "Is there any plan to support the ESP8266?"
The [ESP8266 by Espressif-Systems][ESP8266] is currently the (by far) cheapest System-on-chip for IoT-purposes with around 40k of available RAM and usually >500kB of flash-memory. With [nodeMCU][] there already exists a firmware that sports a LUA-Interpreter so I would really love to see a JS-interpreter doing the same.

Is this possible at all, and is there any available Documentation on the step

[2015-08-07 13:16] renatahodovan opened #548 "String concatenation gets quite slow when concating several float values"
###### Jerry version:
    Checked revision: ff580ca
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Description:
Running the test below gets quite slow. The first cca. 100 concatenations take about 1 sec each but later on this rises to several seconds. Finishing the test required about 15 minutes.

###### Test case:
[code]

[2015-08-07 13:55] rtakacs commented on #463
This bug is already fixed. There is no assert with this test.

[2015-08-07 13:56] ruben-ayrapetyan commented on #463
@rtakacs, was the bug fixed by #543?

[2015-08-07 13:57] rtakacs commented on #311
We can close this issue since JSON is already use ecma-collection.

[2015-08-07 13:58] #311 closed

[2015-08-07 13:58] rtakacs commented on #463
Yes :)

[2015-08-07 13:59] ruben-ayrapetyan commented on #463
Ok, thanks.

[2015-08-07 14:10] #463 closed

[2015-08-07 14:10] #411 closed

[2015-08-07 15:49] lemmaa commented on #544
@niutech  As far as I know, tiny-js is predecessor of Espruino, and it's not designed for full featured. So it's not under our consideration when we first started JerryScript project. Sure, we also realized soon that implementing full featured JavaScript engine with full set of built-in ECMA objects within 100KB is not easily possible, so we changed our first goal to subset version. Anyway, we got

[2015-08-07 16:11] lemmaa commented on #546
@usefulthink IMHO, JerryScript can running on ESP8266. But, first we have to check up the ESP8266 by ourselves.
Please reference the (https://github.com/Samsung/iotjs/issues/136) also.
Thanks!

[2015-08-07 16:14] galpeter commented on #80
All string built-ins have implementations, closing issue

[2015-08-07 16:14] #80 closed

[2015-08-07 16:16] lemmaa commented on #494
@drasko Nothing special, but there seems to be little difference in priority of design goal. Please reference (https://github.com/Samsung/jerryscript/issues/544).
Thanks!

[2015-08-07 16:36] rtakacs commented on #501
Resolved.

[2015-08-07 16:36] #501 closed

[2015-08-07 16:38] rtakacs commented on #460
Resolved.

[2015-08-07 16:38] #460 closed

[2015-08-10 09:03] renatahodovan opened #551 "Assertion 'mem_pools == NULL' failed in mem_pools_finalize"
###### Jerry version:
    Checked revision: 58851bc
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
###### Note:
Although the assertion and the backtrace look similar to the issue will be fixed by #542 but this problem seems unrelated to that one.

###### Backtrace:
[code]

[2015-08-10 17:50] ruben-ayrapetyan opened #555 "Investigate performance degradation on PR #536"
Patch #536 causes some performance degradation on sunspider-0.9.1/math-partial-sums.js (instable, as before one of rebases degradation appeared also on sunspider-0.9.1/bitops-bitwise-and.js). Cause of the performance degradation and its instability should be investigated.

[2015-08-11 08:11] kkristof opened #560 "The ecma_get_property_list doesn't handle the String index properties"
According to the standard ([15.5.5](http://www.ecma-international.org/ecma-262/5.1/#sec-15.5.5)) the `String` object has an enumerable set of properties with the index names.
You can try it with the following test:
[code]
Expected output:
[code]
Actual output:
[code]
This cause test262 test fail: 15.2.3/15.2.3.4/15.2.3.4-4-44.js

[2015-08-11 08:50] zherczeg opened #561 "Octal escape sequences in string literals."
Although S15.5.4.11_A5_T1.js has a bad error message (backslashes should be doubled), it passes on other JS engines because they accept octal escape sequences. E.g:

"\1" === "\u0001"
"\11" === "\u0009"

However, they fail on Jerry with ERROR: Ln *, Col *: Illegal escape sequence. I think we should fix this.

[2015-08-11 13:37] #465 closed

[2015-08-12 09:29] dbatyai opened #563 "Correctly parse RegExp literals in places where they should be allowed."
Currently we fail to parse RegExp literals in some places, where they should be allowed.
For example
[code]
should all be valid.

[2015-08-13 09:04] renatahodovan opened #566 "Assertion 'property_p != NULL' failed in ecma_get_internal_property"
###### Jerry version:
    Checked revision: 4ee30cb
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
###### Backtrace:
[code]

[2015-08-13 13:44] zherczeg commented on #356
I think we should do something with this, since ~50 fails is much.

[2015-08-13 19:34] kkristof opened #570 "Optimize Date builtin"
The current implementation of the Date object has some performance flaws. According to this https://github.com/Samsung/jerryscript/pull/459#issuecomment-130806960 it cause pretty high performance impact during test262 running.
Possible optimizations:
* Use `int64_t` to represent the raw Date value
  * currently it is using `ecma_number_t`
* Use faster algorithms to find the exact Date
 * look up t

[2015-08-13 22:06] seanshpark opened #572 "error: control reaches end of non-void function"
Some functions like `lit_get_magic_string_utf8()` ends with
[code]
and does not return value.
In this case without `-Wno-return-type` mips compiler fails with an `error: control reaches end of non-void function`. Should I use this option `-Wno-return-type` or should I add something like this?
[code]

[2015-08-13 23:05] egavrin commented on #572
This flag is useful, so I'd prefer to add `return NULL;`.

[2015-08-14 07:25] kkristof commented on #348
Resolved in #459.

[2015-08-14 07:25] #348 closed

[2015-08-14 09:15] ruben-ayrapetyan commented on #572
`JERRY_UNREACHABLE` macro calls `jerry_unreachable` function that is marked with `noreturn` attribute (`jerry_unreachable` leads to either `exit` or `abort`).
So, seems that the warning is false-positive.
To fix this, maybe, `while (true) {}` loop could be added after call to `jerry_unreachable` in the macro.

[2015-08-16 23:59] ILyoan commented on #439
@sand1k Can we close this?

[2015-08-17 00:02] seanshpark commented on #572
adding `while (true) {}` to end of `jerry_fatal()` works.
there are `jerry_assert_fail()`, `jerry_unreachable()` and `jerry_unimplemented()` that calls `jerry_fatal()` and all of them has `noreturn` attribute.
@ruben-ayrapetyan , if you confirm I'll make a PR.

[2015-08-17 07:02] egavrin commented on #572
@seanshpark @ruben-ayrapetyan
[code]

[2015-08-17 07:44] rtakacs commented on #526
#549 fixes this issue. We can close this.

[2015-08-17 07:45] rtakacs commented on #551
PR: #575

[2015-08-17 07:55] seanshpark commented on #572
@egavrin , that will change 6 lines in jrt.h, is it ok? :)

[2015-08-17 08:05] egavrin commented on #572
@seanshpark :+1:

[2015-08-17 08:09] #526 closed

[2015-08-17 12:16] egavrin opened #577 "Cross build is broken after #574"
Seams that issue in this line:
[code]

[2015-08-17 12:49] zherczeg commented on #577
What is the compiler error? Neither make precommit nor make push do not have any problem with it.

[2015-08-17 12:52] zherczeg commented on #577
Is it a type conversion error?

[2015-08-17 13:00] egavrin commented on #577
Yes, type conversion.

[2015-08-17 13:36] zherczeg commented on #577
I don't see this error so I need your help. Please copy the compiler error here, and I will give you a speculative fix. Please try whether it works and then I can create a patch.

[2015-08-17 13:50] egavrin commented on #577
Do you have cross toolchain? You can reproduce results with the following command:
`make release.linux   -j4 TOOLCHAIN="./build/configs/toolchain_linux_armv7l-el.cmake"`

I'll rebuilt and share output to you.

[2015-08-17 13:54] zherczeg commented on #577
I have what is downloaded by precommit/push. It has cross compiler dependencies, but they work

[2015-08-17 13:55] egavrin commented on #577
Please check
[code]

[2015-08-17 14:22] zherczeg commented on #577
ASSERT ((uint32_t) (dest_p - character_buffer) == result_string_length);

Does this fix it?

[2015-08-17 14:27] sand1k commented on #577
@zherczeg, yes, it should fix the issue.
Please, check by running:
[code]

[2015-08-17 14:46] zherczeg commented on #577
PR #582

[2015-08-18 00:48] seanshpark opened #585 "Assertion 'instrs_equal (instrs_p, instrs, 5)' failed with 32bit Linux"
I get below error with `make precommit` on Ubuntu Linux 32bit
[code]
in `./build/bin/unittests/unit_tests_run.log` file.

console output is
[code]

64bit is OK.

[2015-08-18 01:20] chunseoklee opened #587 "mem_stats classified by object types"
Current JerryScript supports mem_stats to print memory statistics during execution.
It would be nice that JerryScript provides a way to heap statistics depending on object types.
Especially, I want to measure how much heap space is occupied by iotjs native(js) functions, which is required at iotjs startup.

[2015-08-18 23:35] renatahodovan opened #590 "Assertion 'mem_free_chunks_number == 0' failed in mem_pools_finalize"
###### Jerry version:
    Checked revision: ab47365
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
###### Note:
The values in the array must be the same to reproduce this issue.

###### Backtrace:
[code]

[2015-08-19 06:36] kkristof commented on #590
It is very similar to #551 so I think the PR #575 also solve this. I'm going to check this.

[2015-08-19 06:41] kkristof commented on #551
This issue is solved by #575.

[2015-08-19 06:41] #551 closed

[2015-08-19 06:41] kkristof commented on #590
This issue is solved by #575.

[2015-08-19 06:41] #590 closed

[2015-08-20 08:29] #577 closed

[2015-08-23 02:09] JerrySievert commented on #546
i'm curious as well, as it seems is @maxogden - do you have a timeframe on when you'd be able to try it on an esp8266?

[2015-08-24 05:52] lemmaa commented on #546
@JerrySievert , We already ordered the ESP8266 but not delivered yet. So, it's hard to estimate the schedule now. I will keep update the progress here.

[2015-08-26 09:50] mdarse opened #598 "Could not build on OSX"
I can't build JerryScript on Mac OS X Mavericks (10.9.5), I get the following error :
[code]

[code]

[2015-08-26 10:56] egavrin commented on #598
By default `make` builds all available targets.
Please, try `make release.linux -j4` which should build the engine: `./build/bin/release.linux/jerry`

[2015-08-26 11:48] poussa commented on #598
Is building on OS X really supported ?

On OS X I get the error (since I have clang, not native g++):

[code]

[2015-08-26 12:20] ruben-ayrapetyan commented on #356
// TODO:
//  1. introduce empty 'varg' opcode arguments
//  2. support them in `array_decl` opcode handler,
//      i.e. change the opcode handler to perform calls
//      to ECMA, according to ECMA-262 v5, 11.1.4

[2015-08-26 12:47] egavrin commented on #598
@poussa we're using Ubuntu 14.04+ for development and build system only guaranteed to work on this system: please check http://samsung.github.io/jerryscript/how-to/
Build on OS X is possible, but it may be tricky - let me check.

[2015-08-27 03:05] lemmaa commented on #598
@mdarse There are some problems during prerequisites set up. It's down to command mismatch between Linux and OS X, such as `mktemp`, `sha256sum` etc. I make a  PR https://github.com/Samsung/jerryscript/pull/600 for it.

[2015-08-27 15:51] #585 closed

[2015-08-28 00:19] seanshpark commented on #572
Close as #586 landed

[2015-08-28 00:19] #572 closed

[2015-08-30 12:27] lemmaa commented on #598
@mdarse @poussa I just make a new PR https://github.com/Samsung/jerryscript/pull/607 for it. After merging, you can build JerryScript on Mac OS X using apple C/C++ compiler.
Please, try `make release.darwin -j4`, and check `./build/bin/release.darwin/jerry`.

[2015-08-31 08:37] lemmaa opened #610 "Full testing failed on Mac OS X build"
On Mac OS X, during `make precommit`, full testing with `run-test-pass.sh` was failed.

[code]

./build/bin/debug.darwin/check/0/jerry.error
[code]

./build/bin/debug.darwin/check/1/jerry.error
[code]

./build/bin/release.darwin/check/0/jerry.error
[code]

./build/bin/release.darwin/check/1/jerry.error
[code]

[2015-09-02 18:33] renatahodovan opened #612 "Assertion 'compressed_pointer != MEM_CP_NULL' failed in mem_heap_decompress_pointer"
###### Jerry version:
    Checked revision: a26c454
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-09-02 19:45] renatahodovan opened #613 "Invalid source encoding error when using Hungarian characters"
###### Jerry version:
    Checked revision: a26c454
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
###### Output:
[code]

[2015-09-03 07:44] renatahodovan commented on #228
This issue is no longer reproducible.

[2015-09-03 07:44] #228 closed

[2015-09-03 07:47] renatahodovan opened #614 "Assertion '!ecma_is_value_empty (reg_value)' failed in get_variable_value"
###### Jerry version:
    Checked revision: a26c454
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-09-03 07:57] seanshpark opened #615 "Partial jerry_api_eval()"
@ruben-ayrapetyan , regarding issue comment https://github.com/Samsung/iotjs/issues/212#issuecomment-137080946
can it be possible to extend or add a new function besides jerry_api_eval() so that
[code]
may work ?

This may be one way not to make additional string buffer for concatenation. Simple or better ways are welcome.

[2015-09-03 12:50] ruben-ayrapetyan commented on #615
@seanshpark, the API could be added. In the case, jerryscript would perform the concatenation inside the engine. The issue could also be solved in the following way:
 - for external modules, compiled through "Compile" interface, the wrapper strings could be added by JS code in `Module.prototype.compile` function, so using jerryscript's built-in concatenation mechanism; in the case, jerryscript wou

[2015-09-03 21:27] seanshpark commented on #615
@ruben-ayrapetyan , thank you! as an experiment I can try with the second one.
For the first method, can it be possible without source concatenation? I mean progressive parsing and when the last one is added it can tell Jerry with  some flags so that it can go one with execution.

[2015-09-04 11:40] egavrin commented on #615
This is possible with the only limitation: passed string should be correct JavaScript expression without syntax errors and this can be `relatively easy` handled:

[code]

But this'll require to handle cases like this without concatenation, which may not be efficient in terms of memory or performance:
[code]

We can handle this by adding `jerry_api_partial_eval` and `jerry_api_partial_eval_complete

[2015-09-05 08:31] seanshpark commented on #615
@egavrin , if the last one performs "concat and parse" I also think it'll be the same. I was thinking of for each

[2015-09-07 05:19] ILyoan commented on #497
Not reproducible any longer.
Probably some patch over GC marking fixed this.
Closing

[2015-09-07 05:19] #497 closed

[2015-09-07 11:14] ruben-ayrapetyan commented on #497
Fixed by #550

[2015-09-07 12:56] ruben-ayrapetyan opened #619 "GC stress testing"
Hello.

Some GC stress testing mode should be introduced to help revealing issues like #251 and #599, as @zherczeg suggested in https://github.com/Samsung/jerryscript/pull/251#issuecomment-117557989.

[2015-09-09 17:51] #619 closed

[2015-09-11 08:45] tczene opened #626 "all-in-one build"
Hi, I've made an all-in-one build for jerryscript. With this method we can reach smaller binary size.
You can see the details below. If you want to try it you can download it from here: https://github.com/tczene/jerryscript/tree/all_in_one
This patch is only an example, not ready yet.
Do you think this is a good idea? Should I continue it?

##### original build:

size -A build/bin/release.mcu_stm3

[2015-09-11 10:52] zherczeg commented on #626
Looks promising

[2015-09-14 08:11] chunseoklee opened #627 "Snapshot does not work on nuttx(STM32F4)"
Current snapshot exploits ```sizeof(lit_magic_string_id_t)``` function in ```jrt_read_from_buffer_by_offset```.
In NUTTX OS, size of ```enum``` is 1 byte instead of 4 bytes. Due to this, iotjs(snapshot-dev branch) does not work in NUTTX on STM32F4.
We need to figure out a way to run snapshot on various platforms.

[2015-09-14 08:33] chunseoklee commented on #627
```-fno-short-enums```  option resolved this issue. But I am not sure that it is sufficient.

[2015-09-16 11:03] zherczeg opened #630 "Implement compact byte code (CBC) support in Jerry"
Compact byte code (CBC) is the next generation of byte code for Jerry, which can reduce the byte code size around 50%. It also solves parser memory issues, left-hand-side issues, etc. The project is in its early phase, but the following examples shows the idea. All values are stored on a stack, all operations happen there. Several byte codes are "complex", so they do multiple things.

[code]

Of c

[2015-09-16 13:12] bzsolt commented on #531
Fixed by #599

[2015-09-16 13:12] #531 closed

[2015-09-16 14:52] galpeter commented on #614
I've created a different testcase:
[code]
The assert is the same. I've also dumped the opcodes:
[code]

It seems for me that there is an incorrect `prop_setter` bytecode generated.

[2015-09-16 16:54] galpeter commented on #464
@renatahodovan , could you please check if this issue is still valid?

[2015-09-16 16:56] galpeter commented on #114
Closing as this was fixed.

[2015-09-16 16:56] #114 closed

[2015-09-17 00:23] chunseoklee opened #634 "arm build fail for assignment to bit field"
recent PR about snapshot introduces bit field assignment code.

``` header.is_run_global = is_for_global; ``` at 1605 in jerry.cpp
```tree->strict_mode = strict_mode; ``` at parser/js/scopes-tree.cpp

When cross-compiling jerry(inside IoT.js), it exits with the following msg :

/home/twoflower/usr/dev/harmony/iotjs_github/deps/jerry/jerry-core/jerry.cpp:1607:24: error: conversion to 'unsigned char

[2015-09-17 07:02] chunseoklee commented on #634
Building jerry with ```make debug.mcu_stm32f4_cp``` works fine.
Need to figure out why it does not work on IoT.js build setup.

[2015-09-21 00:11] seanshpark opened #636 "Support NuttX platform as an interpreter"
Adding this issue as a task to support for NuttX.

[2015-09-21 01:48] ILyoan opened #637 "Jerry API for reporting memory stats."
JerryScript provides a feature for reporting memory usage but we can only check it after program finishes.

How about adding a API `jerry_api_mem_stats()` for reporting memory stats so that we can see it in middle of program execution. This will helpful to check how memory usage is changing during execution.
I'm fine with either printing memory stats directly out to stdout or retrieving it.

[2015-09-21 09:32] renatahodovan opened #639 "Assertion 'lit_literal_exists (lit)' failed in lit_get_literal_by_cp"
###### Jerry version:
    Checked revision: 6697523
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-09-21 09:44] renatahodovan commented on #639
Removing a few more lines the failure happens two lines earlier:

[code]

Note: Any function reference can be on the right-hand side of the assignment.

###### Backtrace:
[code]

[2015-09-21 09:48] renatahodovan opened #640 "Assertion 'table_p->buckets[block_id] != NULL' failed in lit_id_hash_table_lookup"
###### Jerry version:
    Checked revision: 6697523
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

Note: although the test case looks similar to #639 but since the traces are different it might need a distinct solution.

###### Backtrace:
[code]

[2015-09-21 09:51] renatahodovan opened #641 "Assertion 'ecma_get_value_type_field (value) == ECMA_TYPE_OBJECT' failed in ecma_get_object_from_value"
###### Jerry version:
    Checked revision: 6697523
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-09-21 09:55] renatahodovan opened #642 "Assertion 'ecma_is_value_number (len_value)' failed in ecma_builtin_function_prototype_object_bind"
###### Jerry version:
    Checked revision: 6697523
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]

###### Backtrace:
[code]

[2015-09-21 13:42] zherczeg commented on #630
I continued this work, and the results are still promising. Some examples:

[code]

[2015-09-22 10:53] egavrin commented on #630
Why do you introduce stack-based bytecode instead of improvement and optimization of existing register-based bytecode?
[code]
Same result is achievable with the current bytecode, i.e. improve quality of generated bytecode.

Stack-based bytecode will lead us to:
- changes in the virtual machine and new bugs as a result
- significant reduce of potential performance of the engine
- significant reduce

[2015-09-22 11:43] zherczeg commented on #630
Thank you for your suggestions. Yes, it is a complex change, so we need to explore what we can do before adding it to Jerry. The first thing on this long road is we need some kind of implementation, which shows that we can generate such a thing. We do it step by step, so when we generate something, we can compare it with the current byte code to see whether there is any improvement.

I checked the

[2015-09-23 12:59] rtakacs opened #644 "Unexpected token error when using for loop without block"
<b>Jerry version:</b>

[code]

<b>Test case:</b>

[code]

It returns with <b>'ERROR: Ln 8, Col 1: Unexpected token'</b> however it is a valid JavaScript code.

<b> Expected behaviour: </b>
[code]

[2015-09-24 00:55] seanshpark opened #645 "Supporting discontinued segment of RAM for Heap"
For some embed device with discontinued RAM area it would be good to set Jerry Heap to be configured as several segments, say 2 or 4, where currently we can set only one.

For example, some STM32F4 has two address of RAM, one is normal RAM from 0x20000000 size 128K and special RAM called CCM from 0x10000000 size 64K. If we can set JerryHeap to be configured to reside in two ares, we can make Jerry

[2015-09-24 07:36] zherczeg opened #646 "Invalid left-hand-side expression"
[code]

The CBC parser correctly handles this, so it might not worth fix it at all. But I leave it here as a note.

[2015-09-24 13:18] egavrin commented on #645
In case of STM32, linker script can be configured to use CCM and normal RAM as single segment, so we'll have 192k of RAM.

Usually, CCM is completely reserved by OS for its own needs, is it true in our case?

[2015-09-24 13:20] egavrin commented on #636
Do we really need to have two separate processes for IoTjs and Jerry?

[2015-09-24 23:36] seanshpark commented on #636
This is what I'm thinking of. JerryScript and IoT.js are tightly related but it's something different. Providing as many platforms as we can, can help others using JerryScript as an engine for ones purpose. So I want to provide for the ones I can. By doing so we can extend the make related files and codes  and may ease others porting to their platforms. And providing auto-testing can be a huge tas

[2015-09-24 23:50] seanshpark commented on #645
Case of NuttX, using CCM is optional and can be added to normal heap area, for malloc and free. The problem I encountered is that CCM has no connection with `instruction` so, but not sure as I didn't investigated yet, structures with `callbacks` may not correctly work if they are located in CCM section or it may be related with DMA, as CCM cannot work with DMA. I've tested with moving `net` relate

[2015-09-29 08:52] ruben-ayrapetyan commented on #646
There is development branch that contains an approach for general solution of references handling issues: https://github.com/Samsung/jerryscript/compare/Ruben-references-parser-dev

[2015-09-29 16:05] ruben-ayrapetyan opened #648 "Investigation of possible reprentations of concatenated strings"
Hello.

Pull request #635 removed special representation of concatenated strings.

While the change reduced memory usage and significantly improved performance for many cases, it also significantly increased memory consumption for other cases. For example:

[code]

Please, see memory statistics for the following versions:
66975236bc42fdfcfcb74b6996601c1401f2b62e (base version) -> 3b0f61ac52bacf374

[2015-09-30 10:59] seanshpark opened #649 "ICE: Assertion 'lit_ids != NULL' failed error with mem_stats"
I get this error when mem_stats is turned on with iotjs
[code]

##### How to reproduce

1) get latest iotjs
2) build iotjs with mem_stats on
[code]
3) run test (any test will do)
[code]

[2015-10-01 07:34] zherczeg commented on #630
I made some measurements on x86-32. The test file was 10.3Kb, and contained expressions and while/do-while loops generated by a fuzzer tool.

Memory consumption results:

CBC parser:
  peak memory consumption: 9.8Kb
  byte-code length: 3.4Kb

Jerry parser
  peak memory consumption: 40.0Kb
  byte-code length: 7.9Kb

Parser memory reduction: 1 - 9.8/40.0 = 75.5%
Byte code length reduction: 1 - 3.4/7

[2015-10-01 13:19] #612 closed

[2015-10-02 09:44] renatahodovan opened #652 "Divisions are not parsed correctly"
###### Jerry version:
    Checked revision: 98fc409
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
Output:
[code]

[2015-10-02 11:18] renatahodovan opened #653 "Conditional operator is not supported in case clauses"
###### Jerry version:
    Checked revision: 98fc409
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
Output:
[code]

According to ecma5, any expression can stand in a case clause after the 'case' keyword but ternary statements are rejected in jerry.

[2015-10-02 12:33] renatahodovan opened #654 "Object literals in case selectors are not supported"
###### Jerry version:
    Checked revision: 98fc409
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
Output:
[code]

According to ecma5, the expression above should be parsed (in spite of that the given clause value will never be equal to any switch condition).

[2015-10-02 13:26] renatahodovan commented on #652
While playing a bit further with divisions turned out that there are multiple ways to make jerry confused whether it's dealing with divisions or regexp literals:

[code]
This also ends in the `Unterminated RegExp literal` error.
We get a similar error message if the previous expression is put into a condition:

[code]
The output of the latest snippet is:
[code]

[2015-10-02 15:29] renatahodovan opened #655 "if statement followed by a regex literal throws parse error"
###### Jerry version:
    Checked revision: 98fc409
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
Output:
[code]

[2015-10-02 18:02] renatahodovan opened #656 "Segmentation fault in case_clauses_stack_element"
###### Jerry version:
    Checked revision: 98fc409
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
Backtrace:
[code]

[2015-10-02 19:56] egavrin opened #657 "Build failed with -O3"
[code]

[2015-10-07 08:52] galpeter commented on #566
Closing, as the fix is now in the master branch.

[2015-10-07 08:52] #566 closed

[2015-10-07 10:33] seanshpark commented on #546
To whom interested, I'm now working to make JerryScript run in ESP8266.
First thing is getting used to the build system.

[2015-10-07 11:04] usefulthink commented on #546
\o/ Thank you so much!

[2015-10-07 15:36] JerrySievert commented on #546
that's great news!

/cc @maxogden, @kenichi

[2015-10-08 07:48] zherczeg commented on #630
Progress goes well, branch updated. This is really a promising work.
Tests added, they can be checked to see the generated byte code.

I have an issue: vera++ complains about continues in switch, and I have to add FALLTHRU after them:

  continue;
  /* FALLTHRU */

Could this be fixed?

[2015-10-10 04:45] jiangzidong opened #661 "question about jerry benchmark and jerry snapshot"
Hi
Web page http://samsung.github.io/jerryscript/benchmark/benchmark.html shows the performance of jerryscripts. But I have some questions about the page.

1, What is jerry-snapshot and how to build it?
2, Which cases in sunspider and ubench are run during the performance test? How can we reproduce the whole test?

Thanks

[2015-10-10 04:54] jiangzidong opened #662 "how to set "MEM_STATS" build configuration"
HI
I build the "jerry" with the steps in http://samsung.github.io/jerryscript/how-to/
[code]

But when I type
[code]
it shows
[code]

1, How can I set the MEM_STATS when building?
2, Is there other flags ? I didn't find then in makefile?

Thanks

[2015-10-10 10:27] ruben-ayrapetyan commented on #662
Hello, @jiangzidong.

To build engine with memory statistics, please, use `release.linux-mem_stats` target:
[code]

[2015-10-11 11:37] lemmaa commented on #661
Hi @jiangzidong , Sorry to cause confusion. It was an accidental expose of our experimental benchmark page. We are currently tuning the benchmark environment to get the stable result. We will publish it soon with all benchmark scripts and detailed procedures.

Just for information, you can check the list of sunspider cases in comment of https://github.com/Samsung/jerryscript/pull/643#issuecomment-

[2015-10-12 03:11] jiangzidong commented on #661
Got it! Thanks @lemmaa

[2015-10-12 03:16] jiangzidong commented on #662
@ruben-ayrapetyan Got it, Thanks!
And there are other modes in Makefile, such as cp cp_minimal mem_stress_test
Maybe we should describe what's their main feature and purpose, as comments in Makefile or content in readme/wiki :)

[2015-10-12 03:20] weilianglin commented on #661
@lemmaa, Does the snapshot increase the binary size of JerryScript/IoT.js? Since you need to link both JavaScript code and bytecode.

[2015-10-12 15:45] lemmaa commented on #661
@weilianglin, In case of using snapshot in IoT.js, currently we store only bytecode for native modules instead of JavaScript code, and size of bytecode is pretty similar to JavaScript code. So not much increase in the binary size. Anyway, still it's an experimental result. :)

[2015-10-13 03:50] ILyoan opened #664 "Enabling setting MEM_HEAP_AREA_SIZE for linux host."
On linux host machine, `CONFIG_MEM_HEAP_AREA_SIZE` would be set 256KB by default. I cannot find the way to set the configuration from CMake build system.

I would be useful to set the heap size for host machine so that we can test with memory consumption problem on host without flashing binary into target device.

[2015-10-13 03:59] egavrin commented on #664
It is possible to specify heap size in this file: https://github.com/Samsung/jerryscript/blob/master/jerry-core/config.h#L45

[2015-10-13 04:20] ILyoan opened #665 "Property lookup cache prevents GC"
It looks like from `ecma_lcache_insert()`, adding a property of an object increases RC for the object. This sometimes could prevent GC.

I'm not sure I'm right about it, but I've reached tentative conclusion by exploring this for a while that this could be significant . For example, if we have a function only called once at the begining of program.
[code]
A lexical environment object is created fo

[2015-10-13 11:54] wateret opened #667 "switch statement jumps to incorrect case body"
###### Jerry version:
    Checked revision: 08c618e
    Build: debug.linux
###### OS:
    Ubuntu 14.04, x86_64
###### Test case:
[code]
Output:
[code]

The output shows that it executes `case 0:` body.

From my observation, this happens when there is no `default` clause. Looks like wrong bytecode is generated.

[2015-10-14 05:12] idkiller opened #668 "does get operation really need non constant object?"
jerry_api_get_object_native_handle
jerry_api_get_array_index_value
jerry_api_get_object_field_value
jerry_api_get_object_field_value_sz

these functions are get operation but functions need non constant object pointer.
I think constant pointer is better if it can.

for example:

[code]
In many case, user need native handle when call there external function,
but object pointer from external functio

[2015-10-14 09:15] rtakacs opened #669 "Unknown token error in the return statement"
<b>Jerry revision:</b>
<pre>08c618e</pre>

<b>Test case:</b>
[code]

It returns with <b>'ERROR: Ln 1, Col 20: Unknown token }'</b> however it is a valid JavaScript code.

<b>Expected behaviour:</b>
The functions should be parsed correctly that does nothing.

[2015-10-15 07:58] rtakacs commented on #644
The following variable declaration is wrong as well:
[code]
Error message: <b>ERROR: Ln 1, Col 42: Unknown token ,</b>

Note: If I put the instructions of the for statement into a block, everything is ok.

[2015-10-15 09:18] rtakacs commented on #644
I've found an other bug:

[code]
Error message: <b>ERROR: Ln 1, Col 25: Unknown token End of file</b>

Note: if the instructions are not in block, everything is ok.

[2015-10-16 07:42] ILyoan commented on #664
@egavrin Yes, sure we can. but I think it would be better to set heap limit as build parameter, without touching source file.

[2015-10-16 18:47] gustavosbarreto opened #671 "What version of ecmascript is supported in JerryScript?"

[2015-10-19 00:33] lemmaa commented on #671
Hi @gustavosbarreto, JerryScript currently supports ECMA Script v5.1 specification.

[2015-10-19 02:12] ILyoan opened #672 "Jerry API for triggering GC."
How about adding `void jerry_api_gc (void)` API for triggering GC.

[2015-10-20 09:55] LaszloLango commented on #648
I made some experiments with the string concatenation. First I checked the stack sizes on some testcases. On string-base64.js (sunspider) the old string concatenation version had a really huge stack (+300K). On the current master we can run this test too with much better memory usage and performance. On the mentioned custom test cases the stack sizes are not so horrible. The simplest solution had

[2015-10-20 10:53] wateret commented on #669
And I found more examples that have similar problem:
[code]

[code]

[2015-10-20 11:36] seanshpark opened #675 "ecma_collection_chunk_t memory alignment"
While working with ESP8266(Xtensa chip) I got a odd exception error that I want to share and ask.
Error:
[code]
`rtn_add=0x40275c55` seems to be return address which is, from the memory map, `vm_fill_params_list`.
`epc1=0x402803a2` seems to be the PC where it points somewhere in `ecma_append_to_values_collection`

I didn't see anything wrong with the code and it works fine for both x86 and arm.
I

[2015-10-20 14:59] #54 closed

[2015-10-20 15:00] #111 closed

[2015-10-20 15:07] #158 closed

[2015-10-20 15:08] #173 closed

[2015-10-20 15:08] #201 closed

[2015-10-20 15:11] #642 closed

[2015-10-21 07:40] egavrin commented on #672
No objections, but for me this won't give us any profit it term of memory consumption since GC has pretty smart heuristics for triggering itself.

[2015-10-21 08:12] wateret commented on #429
This example works OK now. I think we can close this.

[2015-10-21 08:20] egavrin commented on #429
@wateret seams it was fixed/hidden. We need to add this test into source tree, to prevent regressions.

[2015-10-22 00:52] ILyoan commented on #672
@egavrin Yes you are right.
I suggested this API because It would be helpful for tracing memory usage or profiling.

[2015-10-22 01:44] seanshpark commented on #546
Hello, I've uploaded initial development branch [esp8266-dev](https://github.com/Samsung/jerryscript/commits/esp8266-dev) for ESP-01 board. There are some patches to the SDK that may be not correct. Please add comments.
First commit just blinks LED from the JS. APIs not just for testing.

I'll try to bind network API so that we can use it from the JS codes.
But I am not sure where to start from, s

[2015-10-22 01:52] seanshpark commented on #546
About the memory usage...
JerryHeap is set to 20KB and task stack size is 8K and free system heap memory is about 10K.

[2015-10-22 05:19] ILyoan opened #680 "ICE: Assertion 'lit_ids != NULL' failed in var_to_str"
###### Jerry version:
Checked revision: 08c618e8
Build: debug.linux

###### Test case:
[code]

run with --show-opcodes

[2015-10-22 05:27] ILyoan commented on #680
ICE occurs while printing VARG meta_op of `f1` function after prints function expression.

Because `vargs_num` and `seen_vargs` are not stacked, the values of  it will be corrupted after treating the function expression as first parameter of `f1`.

[2015-10-22 07:02] ILyoan opened #681 "Jerry API for retrieving heap stats."
For profiling and tracing memory usage during running a program. It would be useful to have API for getting heap memory stats.

Interesting numbers are total heap size, allocated bytes, and peak bytes.

[code]

[2015-10-22 10:31] egavrin commented on #681
Important numbers are:
[code]

Currently available:
[code]

[2015-10-22 10:34] egavrin commented on #681
Additionally, it'd be nice to have API for resetting statistics: `void jerry_api_mem_stats_reset ();` - since we don't need to know the allocated peek after parsing, for example.

[2015-10-22 11:02] #652 closed

[2015-10-22 11:07] wateret commented on #655
Closing as #660 landed.

[2015-10-22 11:07] #655 closed

[2015-10-22 11:07] wateret commented on #563
Closing as #660 landed.

[2015-10-22 11:07] #563 closed

[2015-10-22 12:37] idkiller opened #682 "why don't use object pointer at argument for "this" on external function callback?"
[code]

This is current callback type for external function.
I wonder why this_p is pointer of value.
I think "this" is only useful when function is constructor.
And also following code is part of current unit test for constructor.

[code]

`JERRY_ASSERT (this_p->type == JERRY_API_DATA_TYPE_OBJECT);`
It show "this_p" must be object.

[2015-10-22 12:57] idkiller opened #683 "mem_free_chunks_number is not zero on clean up after "jerry_api_set_object_native_handle" is called twice"
`jerry_cleanup()` always make assert error after some object native handle were updated.

[code]

this code always failed.
[code]

Is this bug? or intended design?
comment on function note shows that can be updated.
[code]

[2015-10-22 14:52] egavrin commented on #683
`mem_pools_finalize` checks if all allocated memory is freed upon exit to prevent memory leaks. This assert means that some of allocated data wasn't released.

[2015-10-22 17:07] maxogden commented on #546
Awesomeness @seanshpark . I'm on Mac OS and will try and figure out how to get the ESP SDK working and report back if I succeed

[2015-10-22 17:09] idkiller commented on #683
yes, I knew about `mem_pools_finalize`, but in my code, I release every created object and value.
I guess allocated memory would be missed when `jerry_api_set_object_native_handle` is called.
I wonder `jerry_api_set_object_native_handle` is designed to call only one time as one object.

[2015-10-23 01:24] seanshpark commented on #546
@maxogden , Nice !

[2015-10-23 05:02] ILyoan commented on #339
Closing as fixed by 31ae0977f684ad9ad4c62b585c8615df7ea02b7a

[2015-10-23 05:02] #339 closed

[2015-10-23 12:17] zherczeg opened #686 "argument and eval in strict mode"
I am working on the strict mode parsing and Jerry seems accepting the following at the moment:

[code]

The spec says this is not allowed:
http://www.ecma-international.org/ecma-262/5.1/#sec-13.1

However, Firefox also seems to reject the following, and I am not sure this is correct:

[code]

Since eval is created in the non-strict world, and I haven't found anything that prevents this (so far), I

[2015-10-25 18:09] ruben-ayrapetyan commented on #686
@zherczeg, seems that specification disallows the second case also, as `Identifier` is name of declared function (http://www.ecma-international.org/ecma-262/5.1/#sec-13):
[code]

[2015-10-26 09:40] zherczeg commented on #686
You are right, I wasn't observant enough.

[2015-10-26 12:40] ruben-ayrapetyan commented on #665
@ILyoan, lcache actually could prevent GC, causing false positive out-of-memory.

One of possible solutions is to consider lcache's references as weak references in GC.

[2015-10-26 14:17] ruben-ayrapetyan commented on #683
@idkiller, yes, seems that there is a bug: `ecma_create_external_pointer_property` should not reallocate "external pointer" (`ecma_external_pointer_t *handler_p = ecma_alloc_external_pointer ();`) if it was already allocated.

[2015-10-29 12:26] #669 closed

[2015-10-29 13:07] ruben-ayrapetyan opened #689 "Assertion 'STACK_ELEMENT (props, i).type == VARG' failed at 'jsp_early_error_check_for_syntax_errors_in_formal_param_list'"
###### Jerry version:
    Checked revision: 1e2dfc73f577bdea0f46ef9d96ecc295cab7188b
    Build: debug.linux

###### OS:
    Ubuntu 14.04, x86_64

###### Test case:
[code]

###### Backtrace:
[code]

[2015-10-29 14:27] ruben-ayrapetyan opened #691 "Date built-in (test262 failures)"
Hello.

The following test262 tests related to `Date` built-in are failing on current master (906558b8e94aa9118971188af9880eb47ff9b791):
- ch15/15.9/15.9.3/S15.9.3.1_A5_T1
- ch15/15.9/15.9.3/S15.9.3.1_A5_T2
- ch15/15.9/15.9.3/S15.9.3.1_A5_T3
- ch15/15.9/15.9.3/S15.9.3.1_A5_T4
- ch15/15.9/15.9.3/S15.9.3.1_A5_T5
- ch15/15.9/15.9.3/S15.9.3.1_A5_T6

[2015-10-29 15:34] ruben-ayrapetyan opened #692 "15.1.3 (URI Handling) chapter test262 failures"
Hello.

The following test262 tests related to 15.1.3 chapter are failing on current master (906558b8e94aa9118971188af9880eb47ff9b791):
- ch15/15.1/15.1.3/15.1.3.1/S15.1.3.1_A2.5_T1
- ch15/15.1/15.1.3/15.1.3.2/S15.1.3.2_A2.5_T1

[2015-10-29 16:53] galpeter commented on #691
This could be a related to https://github.com/Samsung/jerryscript/issues/213

[2015-10-29 17:47] renatahodovan opened #693 "Assertion 'iter_pos.offset <= iter_p->buf_size' failed in lit_utf8_iterator_seek"
###### Jerry version:
    Checked revision: 906558b
    Build: debug.linux
###### OS:
    Ubuntu 15.04, x86_64
###### Test case:
[code]
Backtrace:
[code]

[2015-10-29 18:01] ruben-ayrapetyan commented on #213
@rtakacs, could you, please, provide more details on how should Date built-in's implementation be changed to fix the tests?

[2015-10-30 02:22] wateret commented on #653
@renatahodovan
I think we can close this. Check out #666.

[2015-10-30 02:23] wateret commented on #654
@renatahodovan
I think we can close this. Check out #666.

[2015-10-30 02:24] wateret commented on #667
Closing as #670 landed.

[2015-10-30 02:24] #667 closed

[2015-10-30 14:27] dbatyai commented on #691
The problem is that the tests were created for a specific timezone (namely US/Pacific) and fail when they run in anything other. Also, as far as I know there's no functionality in jerry-libc for getting system timezone, so in our case these always run with GMT time.

[2015-10-30 14:29] ruben-ayrapetyan commented on #691
@dbatyai, thank you for checking.

[2015-10-30 15:46] ruben-ayrapetyan commented on #686
Fixed

[2015-10-30 15:46] #686 closed

[2015-10-30 15:47] ruben-ayrapetyan commented on #689
Fixed

[2015-10-30 15:47] #689 closed

[2015-11-02 07:36] zherczeg opened #699 "Nasty (very difficult to fix) parser scanner bug"
[code]

This is a perfectly valid statement. The problem is that a slash can be a start of a regex pattern (primary expression), or a binary divide operator. Without deep analysis it is virtually impossible to tell the role of the slash (primary expression or binary operator). The worst thing is that the characters after the slash are part of a regex if the slash marks the start of a regex.

I run

[2015-11-02 11:07] ruben-ayrapetyan commented on #682
@idkiller,

In the following example, value of `x` would be number, equal to 1, not object.
[code]

So, js supports non-object `this` values. However, I'm also unsure if it can be really useful.

<br/>

Also `this` is useful in any other functions, if the functions are bound to some object. In this way, js emulates OOP.

[2015-11-02 11:57] zherczeg commented on #630
I just updated the Compact Byte Code parser and would like to share some results.

I created a test file from all .js files in iotjs/src/js with a "cat *.js" command. I did not organized the files in any way so the order is decided by the cat command. However I added a true() statement at the beginning to prevent its execution by Jerry. The total file size is 92.8K. I did one modification: named f

[2015-11-02 12:31] egavrin commented on #630
You can try passing `--parse-only` to Jerry to prevent execution.

[2015-11-02 13:16] zherczeg commented on #630
Good to know. I don't see any difference in this case, but that argument simplifies things.

[2015-11-02 13:59] ruben-ayrapetyan commented on #693
Fixed by 841c1ed61c7091e02ab01d177ba6a286d87d326b

[2015-11-02 13:59] #693 closed

[2015-11-04 02:04] ILyoan commented on #681
@egavrin Thanks for your opinion, I agree with you. I'll prepare PR for this issue.

[2015-11-04 05:10] Seo-Young opened #702 "Logo creation"
Our project does not have the official logo yet. Thus, I would like to suggest to open an issue for logo creation.
Please post ideas into this thread. If you have any logo images to suggest, feel free post them.
You do not need to be a designer. If you can explain your idea, community can make it real image.
Every suggested ideas will be our logo candidates.
Logo iterations also welcome.

I would

[2015-11-04 05:27] seanshpark commented on #702
Can we talk with MGM to use Jerry image?
Mix with JavaScript image found in the internet, in a yellow rounded rectangle with black silhouette of Jerry.

[2015-11-04 13:28] idkiller commented on #682
@ruben-ayrapetyan
Thank you! I understand it.

[2015-11-04 13:28] #682 closed

[2015-11-05 02:27] Seo-Young commented on #702
![image](https://github-cloud.s3.amazonaws.com/assets%2F5035570%2F10958290%2Ff8a3f8be-83af-11e5-8788-c7992e97a3ec.png)

Is this the right image in your mind?
The distribution right had been moved to Warner Bros. since 1988. Do we have to ask them? Hum.. let's see.

[2015-11-05 02:35] wateret opened #704 "REPL support for Jerry?"
Most of Javascript Engines support REPL and I also think REPL is useful in many ways.
If binary size or something matters then we can give a build option for it. Is there some other issues?

[2015-11-05 04:11] seanshpark commented on #702
YES! :clap:  also there can be also with whole body

[2015-11-05 04:35] Seo-Young commented on #702
Some iterations
![image](https://github-cloud.s3.amazonaws.com/assets%2F5035570%2F10959945%2F0891406c-83c2-11e5-9213-00c4c3ac4095.png)

[2015-11-05 05:03] Seo-Young commented on #702
![image](https://github-cloud.s3.amazonaws.com/assets%2F5035570%2F10960233%2Ff1e7096a-83c5-11e5-9712-89bed630389f.png)

![image](https://github-cloud.s3.amazonaws.com/assets%2F5035570%2F10960243%2F027e17a0-83c6-11e5-908e-bdc53ec94a01.png)

[2015-11-05 08:04] akiss77 commented on #702
Some hand drawings. Certainly not full-fledged ideas.
![collage_20151105083644686-1](https://cloud.githubusercontent.com/assets/9976482/10962891/08d34faa-839c-11e5-8542-fa7831fa50ad.jpg)

[2015-11-05 08:41] ILyoan commented on #702
![jerry](https://cloud.githubusercontent.com/assets/2672194/10963531/72724c0c-83e4-11e5-88f2-18c471ef395f.png)

[2015-11-05 08:57] ILyoan commented on #702
![iotjs](https://cloud.githubusercontent.com/assets/2672194/10963832/8f6a8584-83e6-11e5-9b62-ecb4620ddcee.png)

IoT.js logo is bonus :)

[2015-11-05 10:22] zherczeg commented on #702
The last picture is quite similar to Mickey Mouse and I am sure Disney will not allow us to use it.

[2015-11-05 13:14] Seo-Young commented on #702
Let's ask to Disney! :)

[2015-11-06 00:29] seanshpark opened #705 "make precommit fail in ubunut 32bit while building stm32f3"
run `make precommit` in ubuntu 32bit host machine.
got error while building for stm32f3 with LTO enabled

[code]

[2015-11-06 03:31] ILyoan commented on #702
By the way, I would be unhappy if I was Disney and someone is asking me to allow using Mickey logo while call it Jerry :(

[2015-11-06 04:53] jiangzidong opened #707 "what's the purpose of vm_stack_push_value() in vm-stack.cpp"
the vm_stack_push_value and vm_stack_pop_value deal with the dynamic variables in stack. Those vars will be stored in the inline array or allocated heap (top_chunk_p). Those stack variables also are "root" live object in gc.

But no one call vm_stack_push_value  in jerry. what's the purpose of the stack value?

[code]

[2015-11-06 07:14] ILyoan commented on #702
![jerry-8bit](https://cloud.githubusercontent.com/assets/2672194/10991527/56d663bc-84a1-11e5-911d-df886008057e.png)

[2015-11-08 03:25] haosu1987 opened #710 "JS Debugging with Eclipse"
I've used some other JS interpreter, which includes its own debugging protocol, and can be integrated into the IDEs. For example, Eclipse can debug both the Node.js and the JS in the Web with the ChromeDevTools Plugin that impliments the [V8 debugger protocol](https://chromium.googlesource.com/v8/v8/+/master/docs/debugger_protocol.md).
I think that embedded systems also need such a protocol with i

[2015-11-08 21:56] seanshpark commented on #710
+1

[2015-11-09 02:56] lemmaa commented on #710
Hi, @haosu1987. Great! We also considering about that. Do you think it is suitable to support V8 debugger protocol in JerryScript? Or, do you have any idea better than this? As for IDE, is it a good choice integrate to Eclipse? How about Sublime Text, ATOM, Microsoft Code etc.?

[2015-11-09 07:49] haosu1987 commented on #710
Hi, @lemmaa . Thanks for your prompt.

I think __V8 Debugger Protocol__ may not be suitable for the embedded system(especially for constrained devices). It's a large overhead that based on JSON format strings. Thus, we need a tiny protocol at first. It can be designed by a serial of compressed instructions (for example [Duktape Debug stream format](https://github.com/svaarala/duktape/blob/master/d

[2015-11-10 00:04] chunseoklee opened #711 "jerry-test-suite produces strange result"
```sh ./tools/runners/run-test-suite-jerry.sh  ./build/bin/debug.linux/jerry```
There are 15 failed test for test above.
But, some tests(15.5.2.1-001.js,15.5.4.7.00x.js ) seems to work well in my own test : make separate test.js file.

[2015-11-10 00:33] seanshpark commented on #711
[code]
is ok.
[code]
fails with `Script assertion failed`

[2015-11-10 07:44] Seo-Young commented on #702
I've checked the JS logo. It is released under a MIT license so we can use it in our logo as we want.
Refer to https://github.com/voodootikigod/logo.js

[2015-11-10 08:15] #683 closed

[2015-11-10 08:46] Seo-Young commented on #702
![image](https://cloud.githubusercontent.com/assets/5035570/11057970/d2735d66-87d2-11e5-9dac-fe5cdfa50a7a.png)

![image](https://cloud.githubusercontent.com/assets/5035570/11057976/da4eac7a-87d2-11e5-83f3-17e11cab0fdb.png)

@akiss77 's hand drawings. I missed the tail of the latter one.

[2015-11-10 09:08] galpeter commented on #711
The `assert(1)` fails because the assert's implementation currently only checks that the argument is a true boolean or not. (The implementation is in the main-linux.cpp file). I can create a PR which adds a case that if the argument is an integer 1 then it accept just like the boolean true.

[2015-11-10 09:13] akiss77 commented on #711
Shouldn't any non-0 integer count as true, not only integer 1?

[2015-11-10 09:16] galpeter commented on #711
@akiss77, sure we can do that also, and maybe it's even better.

[2015-11-10 09:18] galpeter commented on #711
@akiss77 , should 0.01 be also a valid true? :)

[2015-11-10 09:22] akiss77 commented on #711
[code]

[2015-11-10 09:23] LaszloLango commented on #711
IMHO not only integers, but every number should be true except zero.

[2015-11-10 09:27] akiss77 commented on #711
What's more:
[code]
I'd try to cast everything to boolean. Whatever yields true, should be accepted.

[2015-11-10 09:28] galpeter commented on #711
hmmm then the best way would be to expose an API call which can correctly convert the values to bool.

[2015-11-10 09:50] lemmaa commented on #711
@LaszloLango @akiss77 @galpeter, I'm currently working on it. I'm trying to define new API `jerry_apt_value_to_char_buffer()` to get character representation of `jerry_api_value_t` object. I conclude that it is best way to solve this issue after short investigation. I think it can be used to REPL implementation of @wateret. If you agree, I will keep going.

[code]

[2015-11-10 09:57] akiss77 commented on #711
@lemmaa Why converting it to characters? First of all, I'm not sure that a char buffer representation will help us deciding whether it's a true-compatible value (but I may be wrong here), secondly, it causes an allocation of an (arbitrarily long?) buffer while we are only looking for a single boolean value.

[2015-11-10 10:19] lemmaa commented on #711
@akiss77 Yes, I agree that it's inefficient, only for this issue. :)
For current issue, we just need an API such as `jerry_api_is_value_true()`, to check the boolean result of value. But, IMHO, such an API is useless instead of solving this issue. So I'm considering more general purpose one. And I think that we don't need such a long buffer allocation, because we need only check the existence of w

[2015-11-10 10:41] ruben-ayrapetyan commented on #711
If `assert` accepts any value that could be converted to boolean true, some issues can become hidden, like in the following test:
https://github.com/Samsung/jerryscript/pull/498/files#diff-c7d78eb307700cc443dc3324384a4033

[code]

The test returned some string that, if not empty, converts to boolean true.
However, the test is incorrect - right parenthesis is in a wrong place.
`assert` that implici

[2015-11-10 10:44] zherczeg commented on #711
I would prefer to use assert (true) than assert (1), or introduce an assert_unreachable();

[2015-11-10 10:44] galpeter commented on #711
@lemmaa, @akiss77 what I had in mind is a general function which can covert any api value to boolean api value. Like jerry_api_to_boolean(..) that's a more general way imho and probably it will useful for others in the future.

[2015-11-10 13:48] idkiller commented on #702
![path3929-9-4](https://cloud.githubusercontent.com/assets/891887/11063899/ecd9373c-87fc-11e5-9e22-ae6090424996.png)

Drawing with Inkscape, Just "J" cheese with small rat.

[2015-11-10 14:50] galpeter commented on #711
@lemmaa @akiss77: this is my proposed API which should convert the value to boolean.

[2015-11-10 15:15] galpeter commented on #711
ahh sorry I've missed the link, so this is the API call I was thinking of: https://github.com/galpeter/jerryscript/commit/eebd4c83a03e78ecfbcaf6c0862be9b55c8d4e7c

[2015-11-10 16:12] akiss77 commented on #711
@zherczeg Just for the sake of correctness, you must have meant `assert(false)` (and `assert(0)`) as an alternative to `assert_unreachable()`, right? (Since `assert(true)` should be no-op, AFAIK.) Personally, I'd still go with `assert(false)` instead of introducing yet another built-in to the jerry command line executable, but I have no strong opinions.

@ruben-ayrapetyan As for the semantics of `

[2015-11-10 23:08] lemmaa commented on #711
@ruben-ayrapetyan Basically, I agree with you. But at this time, I'd like to focus only this issue.

@galpeter Good! What you did is what I want to be at first completely same way, before considering more general one. :)

@akiss77 I agree with you. How about define set of `jerry_api_value_to_` APIs at this time. Do you have any suggestion for this set, such like...
[code]

[2015-11-11 00:09] seanshpark commented on #711
:+1: to `jerry_api_value_to_` series.

[2015-11-11 08:11] egavrin opened #714 "Issues with Wsigned-conversions"
This issue prevents compilation with -O2 on gcc-4.9+
[code]

[2015-11-11 11:14] akanatov commented on #702
@idkiller if you put J-cheese under Jerry's right paw and S as $ (dollar) :-) under the left one - then it will be Java$cript :-)

[2015-11-11 12:06] ruben-ayrapetyan opened #716 "Change arguments of `assert` to explicit boolean values in internal test suite"
Some tests in Jerryscript's internal test suite that are currently not included into precommit testing contain code that provides non-boolean values to `assert` function.

Because current implementation of `assert` accepts only explicit boolean true values, the tests that pass non-boolean values, are currently failing during full run of internal test suite as described in #711.

Maybe, the tests s

[2015-11-11 12:07] ruben-ayrapetyan commented on #711
@lemmaa, yes, sure. I've raised issue #716.

[2015-11-11 12:38] #714 closed

[2015-11-11 13:17] tczene commented on #702
![js](https://cloud.githubusercontent.com/assets/1426320/11091853/f3ab3736-887e-11e5-81c6-24b8b14b04bb.png)

[2015-11-12 03:24] jiangzidong opened #717 "why does rss-measure.sh exclude the executable code's rss."
rss-measure.sh use ` grep -A 1 -- "r[w-]-p "` to exclude the `r-xp` part's rss, which is the executable part of jerry. And it's the main part which consumes memory. (about 280k)

So the result of rss-measue is different with other memory tool, such as smem.

Why does rss-measue.sh do that?

[code]

[2015-11-12 07:09] egavrin commented on #710
@haosu1987 in case we're going to debug on hosts I'd prefer to have support of V8 Debugger Protocol, since it's widely adopted by IDEs and editors, like Eclipse, Atom etc. So, we won't spend much time on integration.

[2015-11-12 07:17] egavrin commented on #710
Anyway, we can start implementation of debugging capabilities in our shell #712, which would be the most difficult part of the task. Engine itself shouldn't have to support V8's, Duktape's or any other protocol - it should only provide API for debugging. Actual integration would be handled by debugger as @haosu1987 mentioned.

[2015-11-12 07:41] egavrin commented on #717
@jiangzidong we're primarily targeting microcontrollers, where memory addressed directly and execution of application is performed from FLASH memory without loading executable into memory. So, for us is more important to understand how much of stack and heap are physically used by application. Measuring RSS is the most convenient way to that, since we're single-threaded and statically linked. This

[2015-11-12 08:30] jiangzidong commented on #717
@egavrin Thanks.
And I have a question about the behavior of mem_heap in microcontrollers.

1. mem_heap is actually a global array. in PC, it is in .bss section and is not in the memory at first. When some chunk are visited, those chunks are moved into memory (RSS increased), and will never leave momery no matter if they are "deallocated". So the one purpose of memory optimization: **jerry try to

[2015-11-12 12:04] akiss77 opened #718 "make release.linux USE_COMPILER_DEFAULT_LIBC=YES fails"
Lately, I've been trying to build Jerry on a platform which is not supported by jerry-libc (aarch64-linux), thus I had to fall back to the default glibc available there. Debug build worked fine, however, release build failed. Then it turned out that the error is also reproducible on an x86-64 box as well:

[code]

It seems that a long-open gcc bug causes spurious warnings when LTO is enabled: http

[2015-11-12 12:46] lemmaa commented on #710
@egavrin After all, we should implement debugger server as separate module, not in our shell, I think. Because it should be activated in embedded situation, such as IoT.js.

As for features, it needs to support both serial connection and TCP/IP connection for remote debugging. We have to make it as light as possible, because it will run on the target in limited resource.

Therefore, IMHO, define p

[2015-11-12 15:20] ruben-ayrapetyan commented on #718
Could we instead, add `-Werror=...` for all warnings in list of enabled warnings, like the following: `-Wall -Werror=all -Wextra -Werror=extra ...`, so leaving `Werror` enabled for all warnings that we consider to be significant, and disabling it for the others. Would this disable `Werror` for `pragma` warnings?

[2015-11-12 17:34] egavrin commented on #717
@jiangzidong in short, for MCU you usually have fixed amount of memory available and you cannot change this at runtime. Usually, OS reserves 16k of heap memory for you and app should operate within this limit.
So, returning to your questions:
1) Our first priority should be a) `lower the peak allcoated chunks` and b) `reuse the chunks which are visited before`. You're absolutely right - reduce pea

[2015-11-12 18:21] akiss77 commented on #718
Yes, being more specific on `-Werror=xxx` can work. Side note: it will be a hell to maintain. I'll update pr #719 accordingly, let's continue discussion on potential solutions there. (If we agree here that the issue should be solved.)

[2015-11-13 01:41] jiangzidong commented on #717
@egavrin Got it. Thanks

So here is my understanding about 3 memory tools: rss-measure, mem-stats, and freya. please correct me if I'm wrong
* rss-measure: measure the size of jerry's stack vars, global vars, and touched global array (including "mem_heap")
* mem_stats: only measure the usage of "mem_heap", peak value matters.
* freya: similar with mem_stats, measure the usage of mem_heap.
* non of

[2015-11-13 04:33] egavrin commented on #717
You got it right :)
Regarding fragmentation, `mem-stats` prints amount of Waste and Waste Peak,
which are basically used to estimate fragmentation.   This would great
debugging feature for the engine to print detailed memory map showing the
usage per object/feature and see the root of fragmentation. Additionally,
we don't have any "commonly accepted" way to check stack usage yet.

On Fri, Nov 13,

[2015-11-13 10:43] ruben-ayrapetyan commented on #718
@akiss77, maybe it would be easier to maintain if all `-Werror=` options would be next to corresponding `-W` options, like the following:
[code]

And to not duplicate every warning in `-W` and `-Werror` maybe its better to introduce a cmake routine for registering warnings by their names.

[2015-11-13 16:12] bzsolt commented on #626
Hi, I've tried the all-in-one Jerry build under IoT.js for NuttX.
I've ran sunspider tests on STM32F4 board (```snapshot-dev```), you can see the runtimes below:

                       Test | Original(sec) | All-in-one(sec) | Gain(%) |
                       ---- | ------------- | --------------- | ------- |
     access-binary-trees.js |      114      |        28       |  75.44  |
         access

[2015-11-13 16:14] ruben-ayrapetyan commented on #626
@bzsolt, could you, please, clarify whether measurements from the first column were acquired on an LTO-enabled build?

[2015-11-13 16:18] bzsolt commented on #626
Unfortunately we can't compile IoT.js with enabled LTO for NuttX yet.

[2015-11-13 16:20] ruben-ayrapetyan commented on #626
@bzsolt, I see. Thank you.

[2015-11-13 17:43] egavrin commented on #626
Great results!
Please compare `Jerry w/ LTO` vs `Jerry w/o LTO` vs `Jerry w/ All-In-One` on RPi2

[2015-11-15 09:39] akiss77 commented on #718
@ruben-ayrapetyan If you take a look at the second version of the patch at #719, you'll see that we cannot specify `-Wxxx -Werror=xxx` together since even in the original/current version `-Werror` is given separately and guarded by a check for GNU C/C++ compilers. (A bit of an extra is that some flags don't work with `-Werror=xxx`, e.g., `-Wno-stack-protector` and `-Wno-attributes` are not to be p

[2015-11-15 15:02] ruben-ayrapetyan commented on #718
@akiss77, seems that Werror can't work with `-Wno-stack-protector` and `-Wno-attributes` just because the options are for disabling corresponding warnings, not for enable them. So, for example, `Werror=attributes` should work, isn't it?

A new routine can take warning name and argument that would specify whether to enable or disable the warning. Also, seems that the check for GNU C/C++ compiler ca

[2015-11-16 10:57] #717 closed

[2015-11-16 15:54] bzsolt commented on #626
Runtime comparison on RPi2 (```140982e```).

                       Test | Jerry with LTO (sec) | Jerry without LTO (sec) | Jerry (with LTO) all-in-one (sec) |
                       ---- | -------------- | ----------------- | ---------------- |
                 3d-cube.js |      3.76      |      21.62        |        3.84      |
     access-binary-trees.js |      1.92      |       8.42        |

[2015-11-16 17:07] egavrin commented on #626
The last column stands for `Jerry with LTO=OFF and all-in-one build`, am I
right?

On Mon, Nov 16, 2015, 18:54 bzsolt <notifications@github.com> wrote:

[2015-11-17 08:58] bzsolt commented on #626
@egavrin The last column stands for Jerry all-in-one with enabled LTO, as described in table header.
I've completed the table with non-LTO all-in-one results.

[2015-11-17 11:04] egavrin commented on #626
Hmm, suprising results.

[2015-11-17 11:58] zherczeg commented on #626
The primary motivation of the all-in-one build is the LTO does not always work. For example it causes a link time error on Nuttx. Nuttix compiles everything into a single binary, and it seems inline assembly parts does not work with LTO. Without LTO the performance of IoT.js on STM32 is poor. I don't think we have any other choice than moving to all-in-one build, which is compatible with all exoti

[2015-11-17 16:08] akiss77 commented on #718
@ruben-ayrapetyan please see latest version at #719

[2015-11-17 17:21] ruben-ayrapetyan commented on #718
@akiss77, the latest version looks good.

[2015-11-18 00:07] lemmaa commented on #626
@bzsolt , Could you shared the stripped binary size of each tests?

[2015-11-18 05:58] bzsolt commented on #626
Of course, they are here:

 | Jerry with LTO | Jerry without LTO | Jerry (with LTO) all-in-one | Jerry (without LTO) all-in-one|
---- | -------------- | ----------------- | ---------------- | ---------------- |
Binary sizes (bytes) | 202 436 | 227 776 | 199 592 | 228 976 |

[2015-11-18 07:53] #718 closed

[2015-11-19 04:41] chunseoklee opened #722 "Q. current internal encoding for lit_utf8_byte_t * ?"
I am working on encoding stuff for IoT.js.
I have a question on jerry encoding.
Here is my question : which encoding is used  for ```lit_utf8_byte_t *``` ?  cesu8, utf8 or both ?

[2015-11-19 09:35] dbatyai commented on #722
Strings are encoded internally as cesu8, even though it says utf8 in function names. See discussion about this [here](https://github.com/Samsung/jerryscript/pull/616#issuecomment-142548923).

[2015-11-19 10:34] #470 closed

[2015-11-19 10:35] #108 closed

[2015-11-19 10:37] #287 closed

[2015-11-19 10:46] egavrin commented on #129
Ok on master, closing.
[code]

[2015-11-19 10:46] #129 closed

[2015-11-19 10:49] egavrin commented on #152
[code]

[code]

Works on master, closing.

[2015-11-19 10:49] #152 closed

[2015-11-19 10:50] egavrin commented on #274
Works on master, closing

[2015-11-19 10:50] #274 closed

[2015-11-19 10:50] egavrin commented on #276
Works on master, closing

[2015-11-19 10:50] #276 closed

[2015-11-19 10:52] egavrin commented on #278
Fails on current master f17f785b6ec0c71c2ef37e4e80a98aff1eff0963

[2015-11-19 10:54] egavrin commented on #280
[code]

[2015-11-19 10:55] egavrin commented on #281
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 10:55] #281 closed

[2015-11-19 10:58] egavrin commented on #656
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)
[code]

[2015-11-19 10:58] #656 closed

[2015-11-19 10:59] egavrin commented on #654
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 10:59] #654 closed

[2015-11-19 11:01] egavrin commented on #653
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:01] #653 closed

[2015-11-19 11:02] egavrin commented on #641
Same for master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:05] egavrin commented on #640
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:05] #640 closed

[2015-11-19 11:06] egavrin commented on #639
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:06] #639 closed

[2015-11-19 11:07] egavrin commented on #614
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:07] #614 closed

[2015-11-19 11:07] egavrin commented on #613
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:07] #613 closed

[2015-11-19 11:09] egavrin commented on #548
Performance was fixed.
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:09] #548 closed

[2015-11-19 11:09] egavrin commented on #541
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:09] #541 closed

[2015-11-19 11:10] egavrin commented on #466
[code]
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:10] #466 closed

[2015-11-19 11:12] egavrin commented on #464
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963), revealed other issue.
[code]

[2015-11-19 11:12] egavrin commented on #453
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:12] #453 closed

[2015-11-19 11:13] egavrin commented on #447
Same on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:14] egavrin commented on #446
[code]
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:14] #446 closed

[2015-11-19 11:14] egavrin commented on #429
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:14] #429 closed

[2015-11-19 11:15] egavrin commented on #381
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:15] #381 closed

[2015-11-19 11:15] egavrin commented on #380
Same on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:16] egavrin commented on #359
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:16] #359 closed

[2015-11-19 11:16] egavrin commented on #358
Same on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:17] egavrin commented on #340
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:17] #340 closed

[2015-11-19 11:18] egavrin commented on #295
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

Revealed other issue:
[code]

[2015-11-19 11:20] egavrin commented on #286
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[code]

[2015-11-19 11:20] #286 closed

[2015-11-19 11:21] egavrin commented on #282
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

Revealed other issue
[code]

[2015-11-19 11:22] egavrin commented on #118
Same on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 11:57] egavrin opened #724 "Do not print catched syntax errors"
[code]

[2015-11-19 11:57] egavrin commented on #295
Follow up issue: #724

[2015-11-19 11:57] #295 closed

[2015-11-19 12:00] egavrin opened #725 "Incorrect SyntaxError instead of ReferenceError"
[code]
Evaluation of this code should produce ReferenceError not SyntaxError:
[code]

[2015-11-19 12:00] egavrin commented on #282
New issue: #725

[2015-11-19 12:00] #282 closed

[2015-11-19 12:01] #464 closed

[2015-11-19 12:05] egavrin commented on #692
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 12:05] #692 closed

[2015-11-19 12:08] egavrin opened #726 "Print ReferenceErrors at runtime"
[code]

[2015-11-19 12:10] egavrin commented on #560
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 12:10] #560 closed

[2015-11-19 12:11] egavrin commented on #535
Fixed on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 12:11] #535 closed

[2015-11-19 12:11] #516 closed

[2015-11-19 12:12] egavrin commented on #439
@ILyoan closing.

[2015-11-19 12:12] #439 closed

[2015-11-19 12:14] egavrin commented on #356
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 12:14] #356 closed

[2015-11-19 12:16] egavrin opened #727 "Improve implementation of unset array values"
See also: #356
[code]

[2015-11-19 12:16] egavrin commented on #346
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 12:16] #346 closed

[2015-11-19 12:17] egavrin commented on #154
Works on master (f17f785b6ec0c71c2ef37e4e80a98aff1eff0963)

[2015-11-19 12:17] #154 closed

[2015-11-19 12:21] egavrin commented on #634
Fixed with NuttX configuration

[2015-11-19 12:21] #634 closed

[2015-11-19 22:47] nkolban commented on #546
Howdy ... I am a keen ESP8266 developer and have a free book on the subject available here ... http://neilkolban.com/tech/esp8266/

I would love to offer any free assistance I can on getting JerryScript running on the ESP8266 and ESP32.

I can be reached by email at kolban1@kolban.com

[2015-11-19 23:19] JerrySievert commented on #546
@nkolban do you have a source for esp32's?

[2015-11-19 23:53] chunseoklee commented on #722
@dbatyai Thanys for help.
I have 1 more q.
``` ecma_string_to_utf8_string ````  returns utf8 string or cesu8 string ?

[2015-11-20 01:34] seanshpark commented on #546
@nkolban , Wow, glad to hear from you. I've read the book and it helped a lot!. I've made a branch `embedding-dev`, previously `esp8266-dev` but now merged also with `mbed`, and JerryScript itself runs in ESP8266. I was working to enable network, in my personal repo, but have little time to do this while working with others.

[2015-11-20 03:28] wateret opened #728 "Timeout value in run-test-suite-test262.sh"
I found that with no timeout, Jerry passes a few more cases than with timeout.
Currently Timeout is 5s, but some cases take way longer than 5s but it passes.
I think we should increase timeout value or get rid of timeout.

Here are some of the tests that take long but pass.
* ch15/15.10/15.10.2/15.10.2.12/S15.10.2.12_A1_T1
* ch15/15.10/15.10.2/15.10.2.12/S15.10.2.12_A2_T1

[2015-11-20 04:02] nkolban commented on #546
@JerrySievert Earlier this year I worked hard and created a free book on the ESP8266.  I listed this in a previous post.  Each month I continued to update it.  The good folks at Espressif were pleased with the result and I have offered to update it and/or re-write it for the ESP32.  As such, they have invited me to their beta programme.  I have no idea when I'll receive an instance but when I do,

[2015-11-20 04:57] seanshpark commented on #546
@nkolban , first thing, thank you for writing down your kind thoughts. As english is not my first language writings may seem dry and somethings it's hard for to express my thoughts and emotions.
YES it would be a big help if you can guide me and others with JerryScript running on ESP8266 and may be yourself with the codes. Current status is that just running JerryScript in ESP8266 is somewhat done

[2015-11-20 08:05] jiangzidong commented on #707
is there anyone can help me understand this function?

[2015-11-20 09:04] dbatyai commented on #722
@chunseoklee, `ecma_string_to_utf8_string` returns a cesu8 encoded string as well.

[2015-11-20 10:20] ruben-ayrapetyan commented on #707
@jiangzidong, the functions are not currently used, but maybe would be used in future. If would not, then the functions would be removed.

[2015-11-20 14:36] davidsz commented on #702
![logos3](https://cloud.githubusercontent.com/assets/4364601/11302106/a4d82762-8f9b-11e5-91b1-a07c75a1df63.png)

Some variations.

[2015-11-23 00:05] chunseoklee commented on #722
@dbatyai  It is strange. ```jerry_api_string_to_char_buffer``` for "\uD834\uDD1E(MUSICAL SYMBOL G CLEF' (U+1D11E))" seems to return data of 4 byte lengths which is illegal for cesu-8 encoding.

[2015-11-23 01:22] chunseoklee commented on #722
@dbatyai I found the reason why. Current iot.js's jerry submodule is on commit 08c6. But cesu8 patch were merged later.

[2015-11-24 04:07] seanshpark commented on #705
Success with 17a5dd27bbbadc036d83be0448f9edfa90800147

[2015-11-24 04:07] #705 closed

[2015-11-24 08:09] jiangzidong opened #735 "how to build jerry standalone for stm32f4/nuttx"
There is branch for stm32f4 in makefile, but do we have wiki to describe the steps to build/install jerry on stm32f4/nuttx like https://github.com/Samsung/iotjs/wiki/Build-for-Nuttx-(new)

[2015-11-24 08:36] egavrin commented on #735
`make release.mcu_stmf4-cp -j` this will build version for stmf4.

On Tue, Nov 24, 2015, 11:09 Zidong Jiang <notifications@github.com> wrote:

[2015-11-24 08:39] jiangzidong commented on #735
@egavrin for iotjs, Nuttx need some special configuration/customization. what about jerry, does it has any requirement for the Nuttx config?

[2015-11-24 08:42] egavrin commented on #735
We have no NuttX integration, we only build bare metal firmware for STM.

[2015-11-24 08:46] jiangzidong commented on #735
@egavrin Sorry, I don't understand. How can we use the "bare firmware" in STM? Could you give me an example?

[2015-11-24 09:05] egavrin commented on #735
This means that firmware contains no OS, only Jerry itself ( see
./jeery-core/main-mcu.cpp) and JavaScript file to be executed is built-in
into binary and cannot be changed .

On Tue, Nov 24, 2015, 11:46 Zidong Jiang <notifications@github.com> wrote:

[2015-11-24 09:40] seanshpark commented on #735
Hi, you guys are already talking about this. I would like to prepare JerryScript in NuttX/STM32F4. I think adding to `embedding` seems nice(though might take a while to land) @egavrin , is it ok to add pages to WiKi or should I update web pages? I'd prefer WiKi :)

[2015-11-24 10:28] egavrin commented on #735
@seanshpark wiki is OK :)

[2015-11-24 13:17] egavrin commented on #278
Additional testcase:
[code]

[2015-11-24 13:19] egavrin opened #736 "ICE: Assertion 'ecma_get_object_type (func_obj_p) == ECMA_OBJECT_TYPE_BOUND_FUNCTION'"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[2015-11-24 13:22] egavrin opened #737 "ICE: Assertion 'lit_cp.packed_value != MEM_CP_NULL' opcodes.cpp(opfunc_func_expr_n):602"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[code]

[code]

[2015-11-24 13:26] egavrin opened #738 "ICE: Assertion 'lit_cp.packed_value != MEM_CP_NULL' failed at lit-literal.cpp(lit_get_literal_by_cp):552."
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[2015-11-24 14:01] egavrin opened #739 "ICE: Assertion 'lit_literal_exists (lit)' failed at lit-literal.cpp(lit_get_literal_by_cp):554."
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[2015-11-24 14:03] egavrin opened #740 "ICE: Assertion 'copied > 0' failed at /ecma-helpers-string.cpp(ecma_is_string_magic_longpath):1543"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Testcase:

[code]

[2015-11-24 14:05] egavrin opened #741 "ICE: Assertion '!ecma_number_is_nan (num)' failed at ecma-helpers-number.cpp(ecma_number_is_infinity):348"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[code]

[code]

[2015-11-24 14:07] renatahodovan commented on #740
This is a duplicate of #380.

[2015-11-24 14:13] egavrin opened #742 "ICE: Assertion 'buff_index <= buff_size' failed at (ecma_builtin_number_prototype_object_to_string):309"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:

[code]

Output:

[code]

Test case:

[code]

[2015-11-24 14:14] egavrin commented on #740
Closed as #380 duplicate.

[2015-11-24 14:14] #740 closed

[2015-11-24 14:15] egavrin commented on #384
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Testcase:

[code]

[code]

[code]

[code]

[code]

[2015-11-24 14:16] egavrin opened #743 "ICE: Assertion 'table_p->buckets[block_id] != NULL' failed at (lit_id_hash_table_lookup):121"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[2015-11-24 14:19] egavrin opened #744 "ICE: Assertion 'end <= ecma_string_get_length (appended_string_p)' failed at (ecma_builtin_string_prototype_object_replace_append_substr):776"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[code]

[2015-11-24 14:21] egavrin opened #745 "ICE: Assertion '!ecma_number_is_nan (res)' failed at (lexer_parse_number):1003"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[2015-11-24 14:22] egavrin commented on #358
New testcase:

[code]

[2015-11-24 14:54] egavrin opened #746 "ICE: Assertion 'lit_is_utf8_string_valid (utf8_buf_p, buf_size)' failed at (lit_utf8_iterator_create):257"
Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

System:
[code]

Output:
[code]
Test case:

[code]

[code]

[code]

Reason: [noeol] No new line at the EOF.

[2015-11-24 17:00] egavrin opened #747 "Segmentation fault on String.Replace"
###### Version: 17a5dd27bbbadc036d83be0448f9edfa90800147

###### System:
[code]

###### Test case:
[code]
###### Output:
[code]

[2015-11-25 01:24] seanshpark commented on #735
I think `readme.md` file can be one way. I've made [embedding-nuttx](https://github.com/Samsung/jerryscript/tree/embedding-nuttx/embedding/nuttx) branch so to work on for the moment. After #733 lands I'll make a new PR to merge NuttX...
or @egavrin , maybe merge `embedding-nuttx` to #733 now?
@jiangzidong , please use this branch for the moment. Add questions if need assist.

[2015-11-25 12:27] idkiller commented on #747
[code]
it is not dead code but this code's output is not correct.
it is expected `'a'` but it returned `''` I think this is same issue with this.

[2015-11-26 04:12] #702 closed

[2015-11-27 00:42] seanshpark opened #752 "console output (printf, fprintf, putchar) issue"
As for PR #733, I had some problem with `fprintf()` and `putchar` when working to port to ESP8266. As @egavrin added a comment about this I also think it would be better to provide an API neutral so to handle these kinds of problems.
Please add some idea here or PR link would be also great.
One way would be to provide something like `jerry_port_error()`, `jerry_port_putchar()`. `jerry_port` is for

[2015-11-27 13:32] galpeter commented on #515
Improvement landed, closing.

[2015-11-27 13:32] #515 closed

[2015-11-29 12:32] qdk0901 opened #754 "How to get a function object using API"
Hi,
  I read the API reference but can not figure out how to get a function object using the API, for example, there is piece of js code
[code]
I want to know how to get the 'testFunction' from C code using API directly.
Many thanks.

[2015-11-29 13:39] qdk0901 commented on #754
figure out now, below code works fine
[code]

[2015-11-30 06:21] Seo-Young opened #755 "Please vote for logo"
We've got diverse logo candidates. (We have 8 candidates)
Now, it's time to choose. :)
Please vote for JerryScript logo as follows;
  - Give comment with the number of candidate.
  - You can pick two logo candidates up.
  - This voting will be closed at 7:00 UTC on 12/4(Friday)

(1)
![image](https://cloud.githubusercontent.com/assets/5035570/11464860/1dfe7b90-9777-11e5-8d0c-d347ac3724fe.png)
![ima

[2015-11-30 06:32] chunseoklee commented on #755
4

[2015-11-30 07:10] Seo-Young commented on #755
8

[2015-11-30 07:19] egavrin commented on #755
5

[2015-11-30 07:24] fivdi commented on #755
Although I think 8 looks the best, I'd pick the 3rd variant of 1 due to its clear association with JavaScript.

[2015-11-30 07:49] seanshpark commented on #755
1, 8

[2015-11-30 08:15] lemmaa commented on #755
8-4

in

0
1,2,3,4,5,6

[2015-11-30 11:39] sand1k commented on #755
1, 8

[2015-11-30 11:46] zherczeg commented on #755
8

[2015-11-30 11:49] LaszloLango commented on #755
8

[2015-11-30 12:00] #662 closed

[2015-11-30 12:01] ruben-ayrapetyan commented on #755
8 (version 5)

[2015-11-30 12:04] renatahodovan commented on #755
8

[2015-11-30 12:05] tczene commented on #755
8

[2015-11-30 12:14] bzsolt commented on #755
8

[2015-11-30 12:42] ruben-ayrapetyan commented on #754
@qdk0901, although, in this particular example, type of value in `val2` would always be object, the `jerry_api_get_object_field_value` could also receive values of another types. So, its better to explicitly check for type of the received values through `type` field, or to add an `assert` that type is same as expected.

[2015-11-30 14:08] akiss77 commented on #755
8 [bottom line 3rd from left], 4
(extra vote on the third place: 1 [topmost])

[2015-12-01 03:03] minjung978 commented on #755
8

[2015-12-01 06:07] wateret commented on #755
8

[2015-12-01 07:39] Boxie5 commented on #755
6

[2015-12-01 09:10] rapportyou commented on #755
5 looks good

[2015-12-01 09:40] #707 closed

[2015-12-01 11:22] rtakacs commented on #755
8

[2015-12-01 12:23] lvidacs commented on #755
8 (5th version in the bottom line) and 6

[2015-12-01 16:23] lvidacs opened #757 "CESU-8 indexing problem in String index_of helper"
Utf8 string indexing changed in Change internal encoding of strings to CESU-8 #616, which causes wrong results when \u0080 or higher character codes are used.

[2015-12-02 05:12] Seo-Young commented on #755
Share current status.
![image](https://cloud.githubusercontent.com/assets/5035570/11522774/89483b4c-98fe-11e5-8786-8b36aee02f3e.png)

[2015-12-02 07:09] chunseoklee commented on #722
On latest commit, ```jerry_api_string_to_char_buffer``` returns cesu encoded format string.
I will close this issue.

[2015-12-02 07:09] #722 closed

[2015-12-02 08:24] wateret commented on #680
Even though there have been no commits related to the issue, @ILyoan's test case somewhat no longer emits an error.

I got another test case that emits the same error, probably the same reason.
[code]

[2015-12-02 09:43] #757 closed

[2015-12-03 06:55] lemmaa opened #760 "Debugger is not working properly with LTO build in Mac OS X"
Can't load debugging symbols in gdb session, when building JerryScript with `LTO=ON` option.
[code]

[2015-12-03 07:00] lemmaa commented on #760
https://github.com/Samsung/jerryscript/pull/759 patch for just avoiding this issue in daily work. :)

[2015-12-03 11:52] idkiller commented on #755
8 :+1:

[2015-12-03 12:26] bzsolt opened #762 "Build fails with enabled Valgrind support"
Build fails with enabled Valgrind support for {debug,release}.mcu_stm32f* targets.
Seemingly unused params and variables triggered these errors:
[code]
[code]
[code]

[2015-12-04 05:44] wateret commented on #280
@egavrin As @kkristof said, the reason why the TC ends with exit code 1 is that Jerry throws a ReferenceError. I'll create a PR with a regression test.

[2015-12-04 07:41] Seo-Young commented on #755
Time's up!

Now, you can see the result. :)
![image](https://cloud.githubusercontent.com/assets/5035570/11584129/9450acfc-9aa4-11e5-848b-054b0d071bec.png)

But the selective one has variations so we need following decision that which one will be the main logo.
![image](https://cloud.githubusercontent.com/assets/5035570/11584224/77eb9904-9aa5-11e5-8c2a-75ebcdc9856d.png)
With these, non selected can

[2015-12-04 07:48] Seo-Young commented on #755
1

[2015-12-04 08:06] idkiller commented on #755
6 :+1:

[2015-12-04 08:10] fivdi commented on #755
1

[2015-12-04 10:43] akiss77 commented on #755
3

[2015-12-04 10:50] zherczeg commented on #755
6 we need the tail :)

[2015-12-04 11:22] ruben-ayrapetyan commented on #755
4, 5

[2015-12-04 11:23] egavrin commented on #755
4,5

Noooo, tail looks ugly!

[2015-12-04 11:44] fivdi commented on #755
@ruben-ayrapetyan @egavrin during the second round of voting it's only possible to vote for one logo :)

[2015-12-04 12:42] davidsz commented on #755
Maybe it's a bit late to clarify, but we can easily combine these iterations. For example, I would prefer the first logo without tail:
![logos4](https://cloud.githubusercontent.com/assets/4364601/11589900/8e1e469a-9a8c-11e5-862e-d901b460afe8.png)

[2015-12-04 12:52] rtakacs commented on #755
8

[2015-12-04 13:33] LaszloLango commented on #755
4,5

[2015-12-04 13:37] bzsolt commented on #755
3

[2015-12-05 11:46] lemmaa commented on #755
7

[2015-12-05 12:44] wateret commented on #755
3,4

[2015-12-06 22:46] seanshpark commented on #755
7

[2015-12-07 04:30] Seo-Young commented on #755
@ruben-ayrapetyan @egavrin @LaszloLango @wateret Please re-vote. In this turn, you can pick only one.
@davidsz So, is your decision 7? without tail?
@lemmaa You picked up 7, correct?

When everything are cleared. I will close this issue.

[2015-12-07 06:21] lemmaa commented on #755
@Seo-Young Yes, 7!

[2015-12-07 07:01] ruben-ayrapetyan commented on #755
5

[2015-12-07 07:21] wateret commented on #755
3

[2015-12-07 10:51] davidsz commented on #755
@Seo-Young Yes, 7 :)

[2015-12-07 12:30] egavrin commented on #755
7

[2015-12-07 12:38] LaszloLango commented on #755
4

[2015-12-07 15:04] sand1k commented on #755
4

[2015-12-07 17:01] niklauslee opened #768 "Performance comparison between JerryScript vs Duktape"
I'm looking for JavaScript impl for my wearable projects using ARM Cortex-M4 MCU. JerryScript and Duktape are final candidates and I especially interested in JerryScript because it looks consume very low memory (My MCU has 128KB RAM). I found a benchmark about this: http://samsung.github.io/jerryscript/benchmark/benchmark.html

Could you please let me know what optimization settings were applied t

[2015-12-07 22:43] Seo-Young commented on #755
Here's the result. :)
1 and 8 are same one so integrated.
![image](https://cloud.githubusercontent.com/assets/5035570/11641928/6966bb80-9d7e-11e5-99bf-75c2dce8d9f0.png)
If anyone would like to change your mind, please comment until today UTC 23:00. If not, we need other following voting.

[2015-12-08 06:10] seanshpark commented on #755
7 --> 1
I like the tail :)

[2015-12-08 06:14] #752 closed

[2015-12-08 06:38] wateret commented on #768
The results are from default build of `duktape`. Are there any options that must be applied? There might be some options that are essential or really important for benchmark.

[2015-12-08 07:00] wateret commented on #768
While searching for duktape, I found that [official duktape performance page](http://wiki.duktape.org/Performance130.html) uses `gcc -O2`.

So I experimentally measured sunspider on RPi2.
What's interesting is `bitops-bitwise-and.js` got slower by 14%.

`duk` -> `duk.O2`

                               Benchmark |         RSS<br>(+ is better) |        Perf<br>(+ is better) |

[2015-12-08 07:17] niklauslee commented on #768
Thank you for your answer.

I meant "build options", not compiler optimization options. There are many build options for Duktape to reduce memory usage as described in https://github.com/svaarala/duktape/blob/master/doc/low-memory.rst. For example, turning off support of regex, referencing counting, or using pointer compression. According to Duktape homepage(http://duktape.org/, See the Code and R

[2015-12-08 07:38] wateret commented on #755
~~3~~ -> 4

Sorry for the tail.

[2015-12-08 07:57] ruben-ayrapetyan commented on #755
5 -> 4

[2015-12-08 08:01] zherczeg commented on #755
my only problem with 4 that people will think this is the moon js :)

[2015-12-08 08:15] seanshpark commented on #755
um... how about cut the cheese in half and fill only half of the circle, with some tilt, like the one filled S in 1 and 7

[2015-12-08 08:25] zherczeg commented on #755
or making it square with holes perhaps

[2015-12-08 09:10] seanshpark commented on #755
https://www.youtube.com/watch?v=T0qagA4_eVQ
moon is cheese :)

[2015-12-08 11:52] lemmaa commented on #755
FYI

In history of JerryScript, cheese is used for naming the IR, originate from @egavrin 's document, the `high-fat cheese IR` and the `low-fat cheese IR`. So, cheese inside 'JS' is reasonable for me, but 'JS' on the cheese is not. :)

[2015-12-08 13:01] qdk0901 opened #769 "jerry_api_set_object_field_value/jerry_api_get_object_field_value has problem when setting and getting v_uint32 property of an object"
Hi,
  When I set integer property of an object and then get that property later, the property is not the same as I had set.
  Testing code below
[code]

[2015-12-08 13:23] egavrin opened #770 "Idea for API improvement"
What is your opinion about this solution?
Maybe, it would be worthwhile to refine the JerryScript API by providing type checker and value retrieval functions to struct jerry_api_value_t in order to avoid the direct access of its internal structure in IoT.js. This can result clearer and more maintainable code that facilitates the future developments.

by @ktorpi

[2015-12-08 14:27] qdk0901 commented on #769
It's the int32 to float32 convertion problem, just define CONFIG_ECMA_NUMBER_TYPE as CONFIG_ECMA_NUMBER_FLOAT64 can fix the problem，
thanks

[2015-12-08 15:19] egavrin commented on #755
7

[2015-12-08 16:00] lemmaa commented on #770
+1, https://github.com/Samsung/jerryscript/issues/711

[2015-12-08 16:21] lemmaa commented on #768
@niklauslee I think comparing JerryScript to Duktape with 'build option' is not good idea. Because they are different in feature. For JerryScript, we also support a build option 'compact profile' which results much smaller footprint with limited features of ECMA-262 standard. It can run on only 8KB start up RAM. In conclusion, such an approach depends on what we should support or what we shouldn't

[2015-12-08 16:32] niklauslee commented on #768
I've just did heap profiling of Duktape with some optimization options. I was able to reduce RAM usage from 135KB to 103KB with "hello" example. I think Duktape is not good for my 128KB MCU. JerryScript looks much better than Duktape in the aspect of memory consumption. I will try to port JerryScript to my MCU from now.

@lemmaa I didn't know JerryScript also provides such build options. Sounds go